In [1]:
import sys
sys.path.append('../')

import cqt
import cqt.datagen as dg
import cqt.dbutility.dbutility as db
import cqt.model.asset_model as md
import cqt.model.asset_model_component_spot as comp_spot
import pandas as pd
import numpy as np

from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
from matplotlib import pyplot

from statsmodels.tsa import arima_model as arma
from sklearn.metrics import mean_squared_error

from sqlalchemy import create_engine

D:\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [6]:
key="59103194-7503-441E-A849-1B961471734B"
source = 'coinapi'
request_eth_20170901 = {'request_type' : 'ohlcv', \
               'symbol_id' : 'COINBASE_SPOT_ETH_USD', \
               'period_id' : '1DAY', \
               'time_start' : '2017-01-01T00:00:00', \
               'time_end' : '2017-09-01T00:00:00', \
               'limit' : '100000'}

#lala=dg.get_req_str(source, request_btc)
#print(lala)
df_eth_20170901= dg.data_gen(source, request_eth_20170901,key,write_to_file=False, returnDF=True)
df_eth_20170901

https://rest.coinapi.io/v1/ohlcv/COINBASE_SPOT_ETH_USD/history?period_id=1DAY&time_start=2017-01-01T00:00:00&time_end=2017-09-01T00:00:00&limit=100000

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,8.18,8.16,8.60,8.08,2017-01-01T23:58:25.0520000Z,2017-01-01T00:00:01.4630000Z,5815,59049.821264,2017-01-01
1,8.38,8.20,8.53,8.05,2017-01-02T23:58:31.2030000Z,2017-01-02T00:00:00.9760000Z,8632,70376.514494,2017-01-02
2,9.59,8.38,10.02,8.24,2017-01-03T23:59:08.6690000Z,2017-01-03T00:00:01.4100000Z,16972,190986.091366,2017-01-03
3,11.17,9.62,11.17,9.34,2017-01-04T23:59:31.5150000Z,2017-01-04T00:00:01.6060000Z,23380,248946.575232,2017-01-04
4,10.23,11.13,11.80,9.08,2017-01-05T23:59:30.9480000Z,2017-01-05T00:00:00.8060000Z,54460,311007.409866,2017-01-05
5,10.14,10.23,10.46,9.52,2017-01-06T23:59:31.4930000Z,2017-01-06T00:00:05.9030000Z,13342,137058.389702,2017-01-06
6,9.92,10.14,10.21,9.55,2017-01-07T23:59:01.3580000Z,2017-01-07T00:00:01.6290000Z,8260,66797.597883,2017-01-07
7,10.50,9.92,10.58,9.89,2017-01-08T23:59:31.0450000Z,2017-01-08T00:00:31.3680000Z,8336,62164.149788,2017-01-08
8,10.45,10.43,10.45,10.43,2017-01-09T07:18:01.4060000Z,2017-01-09T07:18:01.4060000Z,6,173.149730,2017-01-09
9,10.65,10.44,10.72,10.44,2017-01-10T22:03:31.2230000Z,2017-01-10T04:47:53.4880000Z,57,373.816155,2017-01-10
10,9.60,10.66,10.74,9.59,2017-01-11T18:54:15.5730000Z,2017-01-11T00:29:33.3070000Z,223,765.795596,2017-01-11
11,9.42,9.34,9.42,9.34,2017-01-12T12:22:17.4720000Z,2017-01-12T12:22:17.4720000Z,60,105.943030,2017-01-12
12,9.59,9.68,9.68,9.59,2017-01-13T19:52:03.9470000Z,2017-01-13T19:31:09.8330000Z,204,950.125981,2017-01-13
13,10.41,10.48,10.53,10.25,2017-01-17T22:10:07.5140000Z,2017-01-17T18:40:00.0110000Z,4064,54010.431130,2017-01-17
14,10.70,10.71,10.71,10.70,2017-01-20T08:32:17.8790000Z,2017-01-20T08:32:17.8790000Z,5,125.516000,2017-01-20
15,10.90,10.90,10.90,10.90,2017-01-22T10:35:03.2510000Z,2017-01-22T10:35:00.5050000Z,7,130.935788,2017-01-22
16,10.62,10.60,10.63,10.60,2017-01-26T11:30:07.1230000Z,2017-01-26T11:19:55.6060000Z,15,18.951700,2017-01-26
17,10.57,10.56,10.57,10.56,2017-01-27T14:35:25.7060000Z,2017-01-27T14:34:25.5640000Z,33,40.017300,2017-01-27
18,10.56,10.56,10.56,10.56,2017-01-28T12:38:14.5390000Z,2017-01-28T12:38:14.5390000Z,1,1.000000,2017-01-28
19,10.62,10.62,10.62,10.62,2017-01-30T23:47:23.5640000Z,2017-01-30T23:47:23.5640000Z,5,11.146900,2017-01-30
20,10.64,10.62,10.64,10.62,2017-01-31T12:38:21.7400000Z,2017-01-31T12:33:32.8920000Z,11,27.673000,2017-01-31
21,10.56,10.79,10.79,10.56,2017-02-01T18:58:45.5970000Z,2017-02-01T05:29:04.2480000Z,49,279.691339,2017-02-01
22,10.80,10.80,10.80,10.80,2017-02-03T14:57:21.1140000Z,2017-02-03T14:57:21.1140000Z,4,10.001700,2017-02-03
23,11.34,11.25,11.35,11.22,2017-02-04T17:04:36.8020000Z,2017-02-04T07:25:59.5560000Z,124,1105.708859,2017-02-04
24,11.34,11.27,11.36,11.27,2017-02-06T16:03:09.9010000Z,2017-02-06T02:24:43.1660000Z,49,208.472954,2017-02-06
25,11.51,11.50,11.52,11.43,2017-02-07T23:59:22.7120000Z,2017-02-07T15:25:49.6390000Z,1475,16129.430630,2017-02-07
26,11.41,11.51,11.65,11.15,2017-02-08T23:59:48.4430000Z,2017-02-08T00:00:04.3180000Z,12386,88158.865265,2017-02-08
27,11.02,11.41,11.54,10.61,2017-02-09T23:59:53.0990000Z,2017-02-09T00:02:00.8440000Z,19041,118356.171738,2017-02-09
28,11.43,11.02,11.48,10.88,2017-02-10T23:58:23.3730000Z,2017-02-10T00:00:34.1750000Z,15446,68457.212254,2017-02-10
29,11.52,11.44,11.52,11.34,2017-02-11T23:59:28.3450000Z,2017-02-11T00:00:07.1860000Z,20005,35280.520105,2017-02-11
...,...,...,...,...,...,...,...,...,...
202,224.00,217.92,227.53,217.35,2017-08-03T23:59:57.0450000Z,2017-08-03T00:00:03.8770000Z,29741,113161.874522,2017-08-03
203,220.72,224.00,226.82,219.51,2017-08-04T23:59:53.3040000Z,2017-08-04T00:00:03.5930000Z,28673,98578.273710,2017-08-04
204,251.85,220.72,258.98,219.54,2017-08-05T23:59:47.8310000Z,2017-08-05T00:00:03.4860000Z,65156,319645.767786,2017-08-05
205,263.96,251.86,273.00,250.99,2017-08-06T23:59:52.4320000Z,2017-08-06T00:00:01.8970000Z,55356,238836.553953,2017-08-06
206,269.90,263.97,274.81,257.10,2017-08-07T23:59:58.5260000Z,2017-08-07T00:00:02.4490000Z,44362,168589.607547,2017-08-07
207,295.93,269.89,299.45,267.00,2017-08-08T23:59:50.7710000Z,2017-08-08T00:00:01.2170000Z,56743,267302.649304,2017-08-08
208,295.26,295.95,314.71,276.55,2017-08-09T23:59:51.3550000Z,2017-08-09T00:00:02.1480000Z,88888,465341.003687,2017-08-09
209,300.51,295.26,309.80,288.34,2017-08-10T23:59:58.5540000Z,2017-08-10T00:00:03.2180000Z,40462,154225.487929,2017-08-10
210,309.65,300.51,310.00,295.79,2017-08-11T23:59:53.4650000Z,2017-08-11T00:00:01.6120000Z,36314,131543.773458,2017-08-11
211,308.35,309.65,319.70,303.61,2017-08-12T23:59:51.7000000Z,2017-08-12T00:00:03.7970000Z,52114,175661.180819,2017-08-12
212,296.66,308.35,309.95,287.00,2017-08-13T23:59:43.1320000Z,2017-08-13T00:00:00.2020000Z,61029,195850.236074,2017-08-13
213,299.16,296.67,309.35,294.96,2017-08-14T23:59:57.8250000Z,2017-08-14T00:00:03.5520000Z,44934,116240.731962,2017-08-14
214,286.71,299.16,299.18,267.00,2017-08-15T23:59:55.1300000Z,2017-08-15T00:00:03.9690000Z,54963,213475.968695,2017-08-15
215,300.45,286.71,303.90,280.00,2017-08-16T23:59:48.9140000Z,2017-08-16T00:00:00.7980000Z,39000,125548.249501,2017-08-16
216,300.67,300.45,309.41,298.00,2017-08-17T23:59:55.6700000Z,2017-08-17T00:00:03.8230000Z,36904,117913.067703,2017-08-17
217,292.87,300.66,306.09,287.00,2017-08-18T23:59:50.4830000Z,2017-08-18T00:00:02.7230000Z,39886,132176.434100,2017-08-18
218,293.58,292.86,298.70,287.00,2017-08-19T23:59:48.1600000Z,2017-08-19T00:00:03.7790000Z,26813,68015.675007,2017-08-19
219,297.79,293.58,298.50,289.50,2017-08-20T23:59:53.3520000Z,2017-08-20T00:00:03.7680000Z,19027,55102.044075,2017-08-20
220,322.00,297.79,344.34,295.27,2017-08-21T23:59:55.3230000Z,2017-08-21T00:00:04.1490000Z,76776,312029.894111,2017-08-21
221,314.19,322.00,329.97,292.00,2017-08-22T23:59:46.3400000Z,2017-08-22T00:00:03.5930000Z,49629,198759.196742,2017-08-22
222,317.50,314.19,324.61,313.72,2017-08-23T23:59:56.4110000Z,2017-08-23T00:00:01.0680000Z,31749,102640.684335,2017-08-23
223,324.56,317.50,328.00,316.00,2017-08-24T23:59:56.1460000Z,2017-08-24T00:00:00.2660000Z,25354,77759.332813,2017-08-24
224,330.14,324.56,336.99,324.38,2017-08-25T23:59:47.8710000Z,2017-08-25T00:00:00.6060000Z,49395,118395.775237,2017-08-25
225,332.99,330.14,334.51,325.10,2017-08-26T23:59:58.3960000Z,2017-08-26T00:00:00.8550000Z,59498,64236.999790,2017-08-26
226,348.20,332.99,348.20,332.44,2017-08-27T23:59:59.2970000Z,2017-08-27T00:00:00.0040000Z,56062,94693.023692,2017-08-27
227,347.54,348.20,349.99,336.35,2017-08-28T23:59:56.5610000Z,2017-08-28T00:00:00.5930000Z,41451,111378.579629,2017-08-28
228,372.48,347.54,374.91,347.54,2017-08-29T23:59:57.4950000Z,2017-08-29T00:00:00.6950000Z,45473,172685.681751,2017-08-29
229,384.10,372.48,392.00,368.30,2017-08-30T23:59:56.6380000Z,2017-08-30T00:00:00.1490000Z,47418,164881.888570,2017-08-30
230,389.20,384.10,389.97,381.20,2017-08-31T23:59:43.2620000Z,2017-08-31T00:00:00.9200000Z,35077,119008.828515,2017-08-31
231,392.87,389.20,396.88,386.98,2017-09-01T23:59:52.7820000Z,2017-09-01T00:00:00.7660000Z,44534,160640.818789,2017-09-01

In [7]:
tbl_name = dg.get_req_str(source, request_eth_20170901,False)
print(tbl_name)

coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY

In [9]:

db.dump_to_db(df_eth_20170901,tbl_name,'key')

In [10]:
key="59103194-7503-441E-A849-1B961471734B"
source = 'coinapi'
request_eth_now = {'request_type' : 'ohlcv', \
               'symbol_id' : 'COINBASE_SPOT_ETH_USD', \
               'period_id' : '1DAY', \
               'time_start' : '2017-08-01T00:00:00', \
               'limit' : '100000'}

#lala=dg.get_req_str(source, request_btc)
#print(lala)
df_eth_now= dg.data_gen(source, request_eth_now,key,write_to_file=False, returnDF=True)
df_eth_now

https://rest.coinapi.io/v1/ohlcv/COINBASE_SPOT_ETH_USD/history?period_id=1DAY&time_start=2017-08-01T00:00:00&limit=100000

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,225.73,200.83,232.73,200.82,2017-08-01T23:59:50.4490000Z,2017-08-01T00:00:03.5260000Z,75648,435730.345923,2017-08-01
1,217.92,225.73,228.80,215.37,2017-08-02T23:59:58.8630000Z,2017-08-02T00:00:03.7850000Z,35120,149917.377440,2017-08-02
2,224.00,217.92,227.53,217.35,2017-08-03T23:59:57.0450000Z,2017-08-03T00:00:03.8770000Z,29741,113161.874522,2017-08-03
3,220.72,224.00,226.82,219.51,2017-08-04T23:59:53.3040000Z,2017-08-04T00:00:03.5930000Z,28673,98578.273710,2017-08-04
4,251.85,220.72,258.98,219.54,2017-08-05T23:59:47.8310000Z,2017-08-05T00:00:03.4860000Z,65156,319645.767786,2017-08-05
5,263.96,251.86,273.00,250.99,2017-08-06T23:59:52.4320000Z,2017-08-06T00:00:01.8970000Z,55356,238836.553953,2017-08-06
6,269.90,263.97,274.81,257.10,2017-08-07T23:59:58.5260000Z,2017-08-07T00:00:02.4490000Z,44362,168589.607547,2017-08-07
7,295.93,269.89,299.45,267.00,2017-08-08T23:59:50.7710000Z,2017-08-08T00:00:01.2170000Z,56743,267302.649304,2017-08-08
8,295.26,295.95,314.71,276.55,2017-08-09T23:59:51.3550000Z,2017-08-09T00:00:02.1480000Z,88888,465341.003687,2017-08-09
9,300.51,295.26,309.80,288.34,2017-08-10T23:59:58.5540000Z,2017-08-10T00:00:03.2180000Z,40462,154225.487929,2017-08-10
10,309.65,300.51,310.00,295.79,2017-08-11T23:59:53.4650000Z,2017-08-11T00:00:01.6120000Z,36314,131543.773458,2017-08-11
11,308.35,309.65,319.70,303.61,2017-08-12T23:59:51.7000000Z,2017-08-12T00:00:03.7970000Z,52114,175661.180819,2017-08-12
12,296.66,308.35,309.95,287.00,2017-08-13T23:59:43.1320000Z,2017-08-13T00:00:00.2020000Z,61029,195850.236074,2017-08-13
13,299.16,296.67,309.35,294.96,2017-08-14T23:59:57.8250000Z,2017-08-14T00:00:03.5520000Z,44934,116240.731962,2017-08-14
14,286.71,299.16,299.18,267.00,2017-08-15T23:59:55.1300000Z,2017-08-15T00:00:03.9690000Z,54963,213475.968695,2017-08-15
15,300.45,286.71,303.90,280.00,2017-08-16T23:59:48.9140000Z,2017-08-16T00:00:00.7980000Z,39000,125548.249501,2017-08-16
16,300.67,300.45,309.41,298.00,2017-08-17T23:59:55.6700000Z,2017-08-17T00:00:03.8230000Z,36904,117913.067703,2017-08-17
17,292.87,300.66,306.09,287.00,2017-08-18T23:59:50.4830000Z,2017-08-18T00:00:02.7230000Z,39886,132176.434100,2017-08-18
18,293.58,292.86,298.70,287.00,2017-08-19T23:59:48.1600000Z,2017-08-19T00:00:03.7790000Z,26813,68015.675007,2017-08-19
19,297.79,293.58,298.50,289.50,2017-08-20T23:59:53.3520000Z,2017-08-20T00:00:03.7680000Z,19027,55102.044075,2017-08-20
20,322.00,297.79,344.34,295.27,2017-08-21T23:59:55.3230000Z,2017-08-21T00:00:04.1490000Z,76776,312029.894111,2017-08-21
21,314.19,322.00,329.97,292.00,2017-08-22T23:59:46.3400000Z,2017-08-22T00:00:03.5930000Z,49629,198759.196742,2017-08-22
22,317.50,314.19,324.61,313.72,2017-08-23T23:59:56.4110000Z,2017-08-23T00:00:01.0680000Z,31749,102640.684335,2017-08-23
23,324.56,317.50,328.00,316.00,2017-08-24T23:59:56.1460000Z,2017-08-24T00:00:00.2660000Z,25354,77759.332813,2017-08-24
24,330.14,324.56,336.99,324.38,2017-08-25T23:59:47.8710000Z,2017-08-25T00:00:00.6060000Z,49395,118395.775237,2017-08-25
25,332.99,330.14,334.51,325.10,2017-08-26T23:59:58.3960000Z,2017-08-26T00:00:00.8550000Z,59498,64236.999790,2017-08-26
26,348.20,332.99,348.20,332.44,2017-08-27T23:59:59.2970000Z,2017-08-27T00:00:00.0040000Z,56062,94693.023692,2017-08-27
27,347.54,348.20,349.99,336.35,2017-08-28T23:59:56.5610000Z,2017-08-28T00:00:00.5930000Z,41451,111378.579629,2017-08-28
28,372.48,347.54,374.91,347.54,2017-08-29T23:59:57.4950000Z,2017-08-29T00:00:00.6950000Z,45473,172685.681751,2017-08-29
29,384.10,372.48,392.00,368.30,2017-08-30T23:59:56.6380000Z,2017-08-30T00:00:00.1490000Z,47418,164881.888570,2017-08-30
...,...,...,...,...,...,...,...,...,...
294,640.50,696.77,699.00,638.00,2018-05-22T23:59:53.1960000Z,2018-05-22T00:00:03.9030000Z,68707,102285.023512,2018-05-22
295,577.20,640.13,648.46,563.27,2018-05-23T23:59:55.1320000Z,2018-05-23T00:00:02.4060000Z,116545,214309.084705,2018-05-23
296,602.64,577.20,609.21,545.36,2018-05-24T23:59:59.6400000Z,2018-05-24T00:00:03.7710000Z,93545,136326.785218,2018-05-24
297,584.02,602.65,616.00,568.27,2018-05-25T23:59:57.3460000Z,2018-05-25T00:00:03.7190000Z,65270,99022.101985,2018-05-25
298,584.99,584.02,606.00,577.65,2018-05-26T23:59:53.4200000Z,2018-05-26T00:00:00.5330000Z,43429,44818.804752,2018-05-26
299,570.75,585.00,589.50,556.00,2018-05-27T23:59:59.2500000Z,2018-05-27T00:00:04.4810000Z,52081,54447.368898,2018-05-27
300,511.33,570.75,575.00,507.00,2018-05-28T23:59:50.7980000Z,2018-05-28T00:00:04.8350000Z,69737,115800.063252,2018-05-28
301,566.66,511.33,573.64,510.91,2018-05-29T23:59:59.4860000Z,2018-05-29T00:00:02.6510000Z,77011,136873.467626,2018-05-29
302,557.22,566.65,585.92,541.23,2018-05-30T23:59:54.3550000Z,2018-05-30T00:00:04.6560000Z,67465,98750.340914,2018-05-30
303,577.10,557.22,589.00,553.60,2018-05-31T23:59:56.5240000Z,2018-05-31T00:00:02.5090000Z,53731,97490.971412,2018-05-31
304,578.89,577.10,588.00,561.11,2018-06-01T23:59:49.7450000Z,2018-06-01T00:00:02.2140000Z,49907,97547.891571,2018-06-01
305,590.46,578.89,600.00,571.75,2018-06-02T23:59:59.9030000Z,2018-06-02T00:00:00.4170000Z,43677,64556.527893,2018-06-02
306,618.63,590.46,627.83,590.46,2018-06-03T23:59:39.3080000Z,2018-06-03T00:00:00.2760000Z,54002,54877.317177,2018-06-03
307,591.50,618.63,626.55,576.15,2018-06-04T23:59:49.0860000Z,2018-06-04T00:00:02.4170000Z,51333,67683.924291,2018-06-04
308,607.60,591.51,612.00,574.31,2018-06-05T23:59:57.9070000Z,2018-06-05T00:00:00.6290000Z,57941,75114.186204,2018-06-05
309,606.18,607.60,611.69,592.63,2018-06-06T23:59:48.6640000Z,2018-06-06T00:00:02.5320000Z,49777,77825.626824,2018-06-06
310,603.56,606.19,615.26,594.00,2018-06-07T23:59:50.3420000Z,2018-06-07T00:00:00.2620000Z,46853,94570.727251,2018-06-07
311,598.59,603.56,607.00,591.00,2018-06-08T23:59:50.7870000Z,2018-06-08T00:00:02.5290000Z,39829,39747.976797,2018-06-08
312,593.41,598.60,608.00,591.81,2018-06-09T23:59:57.6810000Z,2018-06-09T00:00:02.4530000Z,25993,26760.932283,2018-06-09
313,525.25,593.40,593.41,505.00,2018-06-10T23:59:59.1740000Z,2018-06-10T00:00:00.3920000Z,76332,141919.664549,2018-06-10
314,531.68,525.25,536.85,509.97,2018-06-11T23:59:59.2400000Z,2018-06-11T00:00:02.5530000Z,56262,113031.387613,2018-06-11
315,494.14,531.68,538.99,485.00,2018-06-12T23:59:50.7180000Z,2018-06-12T00:00:00.0930000Z,57215,122418.526382,2018-06-12
316,476.02,494.14,502.40,450.11,2018-06-13T23:59:52.7230000Z,2018-06-13T00:00:01.9660000Z,73839,166483.470050,2018-06-13
317,519.75,476.03,530.00,459.45,2018-06-14T23:59:58.6370000Z,2018-06-14T00:00:02.2770000Z,91283,217414.284319,2018-06-14
318,487.45,519.75,521.00,481.57,2018-06-15T23:59:59.1100000Z,2018-06-15T00:00:02.3390000Z,54751,101900.027478,2018-06-15
319,497.31,487.45,502.97,484.12,2018-06-16T23:59:40.7000000Z,2018-06-16T00:00:02.5690000Z,42775,44820.267369,2018-06-16
320,496.50,496.99,507.83,493.33,2018-06-17T23:59:58.7940000Z,2018-06-17T00:00:01.9690000Z,31622,35010.386373,2018-06-17
321,517.47,496.50,525.00,488.00,2018-06-18T23:59:45.0630000Z,2018-06-18T00:00:02.5510000Z,38798,72652.162831,2018-06-18
322,538.50,517.47,547.40,514.45,2018-06-19T23:59:57.7840000Z,2018-06-19T00:00:00.9870000Z,45944,71905.894570,2018-06-19
323,520.37,538.50,538.58,516.67,2018-06-20T02:41:20.3500000Z,2018-06-20T00:00:00.4230000Z,7356,17555.945763,2018-06-20

In [11]:
tbl_name='coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY'
db.dump_to_db(df_eth_now,tbl_name,'key')

In [12]:
tbl_name='coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY'
laladf=db.get_from_db(tbl_name,from_date='2017-11-30',to_date='2018/04/16')

In [14]:
laladf.data

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key,LastUpdated
0,434.00,434.01,470.00,401.50,2017-11-30T23:59:59.5550000Z,2017-11-30T00:00:00.7970000Z,186864,362765.245598,2017-11-30,2018-06-19 22:42:04.087846
1,463.82,434.00,468.43,421.57,2017-12-01T23:59:58.5070000Z,2017-12-01T00:00:00.4150000Z,127714,195010.419417,2017-12-01,2018-06-19 22:42:04.087846
2,460.34,463.82,474.96,451.21,2017-12-02T23:59:54.9710000Z,2017-12-02T00:00:00.0660000Z,240849,162582.069582,2017-12-02,2018-06-19 22:42:04.087846
3,465.00,460.35,483.61,450.00,2017-12-03T23:59:59.9990000Z,2017-12-03T00:00:00.1110000Z,236053,167096.251216,2017-12-03,2018-06-19 22:42:04.087846
4,468.22,465.00,473.00,449.40,2017-12-04T23:59:51.7190000Z,2017-12-04T00:00:00.1450000Z,137678,135389.881073,2017-12-04,2018-06-19 22:42:04.087846
5,457.30,468.22,470.00,452.00,2017-12-05T23:59:47.9810000Z,2017-12-05T00:00:00.4350000Z,144990,153047.682357,2017-12-05,2018-06-19 22:42:04.087846
6,432.49,457.29,461.99,425.01,2017-12-06T23:59:57.9520000Z,2017-12-06T00:00:00.3550000Z,230313,349323.666095,2017-12-06,2018-06-19 22:42:04.087846
7,433.27,432.48,448.89,415.01,2017-12-07T23:59:54.0740000Z,2017-12-07T00:00:00.6010000Z,177856,330768.805504,2017-12-07,2018-06-19 22:42:04.087846
8,463.45,432.82,479.10,420.01,2017-12-08T23:59:55.7840000Z,2017-12-08T00:00:03.5360000Z,183130,395454.082134,2017-12-08,2018-06-19 22:42:04.087846
9,485.04,463.45,535.10,450.00,2017-12-09T23:59:58.8290000Z,2017-12-09T00:00:02.2140000Z,370993,544362.402031,2017-12-09,2018-06-19 22:42:04.087846
10,447.51,485.05,486.13,438.00,2017-12-10T23:59:59.6920000Z,2017-12-10T00:00:02.4960000Z,291684,217508.161326,2017-12-10,2018-06-19 22:42:04.087846
11,518.00,447.51,519.49,445.23,2017-12-11T23:59:57.9900000Z,2017-12-11T00:00:00.0580000Z,209081,297836.625750,2017-12-11,2018-06-19 22:42:04.087846
12,686.82,518.00,714.00,501.11,2017-12-12T23:59:58.4590000Z,2017-12-12T00:00:01.0730000Z,296147,878370.084399,2017-12-12,2018-06-19 22:42:04.087846
13,711.94,686.82,784.77,606.00,2017-12-13T23:59:59.7950000Z,2017-12-13T00:00:00.0770000Z,333556,788035.159686,2017-12-13,2018-06-19 22:42:04.087846
14,705.01,711.95,758.61,660.83,2017-12-14T23:59:59.9390000Z,2017-12-14T00:00:00.2140000Z,228288,425224.829768,2017-12-14,2018-06-19 22:42:04.087846
15,693.50,705.01,706.00,618.00,2017-12-15T23:59:59.3350000Z,2017-12-15T00:00:00.8220000Z,214340,315021.598223,2017-12-15,2018-06-19 22:42:04.087846
16,703.59,693.50,735.00,684.00,2017-12-16T23:59:59.6870000Z,2017-12-16T00:00:00.2080000Z,252865,197522.085337,2017-12-16,2018-06-19 22:42:04.087846
17,732.18,703.62,746.93,703.00,2017-12-17T23:59:55.9550000Z,2017-12-17T00:00:00.3530000Z,261134,170369.236464,2017-12-17,2018-06-19 22:42:04.087846
18,785.65,732.17,798.81,695.00,2017-12-18T23:59:59.8160000Z,2017-12-18T00:00:00.3060000Z,219802,314598.756952,2017-12-18,2018-06-19 22:42:04.087846
19,826.65,785.65,875.00,770.03,2017-12-19T23:59:55.9120000Z,2017-12-19T00:00:00.5990000Z,262905,428310.801137,2017-12-19,2018-06-19 22:42:04.087846
20,802.86,826.65,833.60,701.00,2017-12-20T23:59:58.2250000Z,2017-12-20T00:00:00.9290000Z,195137,341653.572191,2017-12-20,2018-06-19 22:42:04.087846
21,796.98,802.86,845.00,767.15,2017-12-21T23:59:58.4890000Z,2017-12-21T00:00:01.2300000Z,166798,248883.246195,2017-12-21,2018-06-19 22:42:04.087846
22,682.11,796.99,799.95,460.00,2017-12-22T23:59:56.1590000Z,2017-12-22T00:00:03.3410000Z,262015,836760.112370,2017-12-22,2018-06-19 22:42:04.087846
23,732.80,682.11,774.99,670.00,2017-12-23T23:59:51.6850000Z,2017-12-23T00:00:02.0370000Z,92123,203543.166484,2017-12-23,2018-06-19 22:42:04.087846
24,697.04,732.76,734.86,641.14,2017-12-24T23:59:57.8790000Z,2017-12-24T00:00:00.0160000Z,90148,172977.812879,2017-12-24,2018-06-19 22:42:04.087846
25,740.50,697.05,759.88,693.50,2017-12-25T23:59:54.5720000Z,2017-12-25T00:00:02.5130000Z,80295,125678.417005,2017-12-25,2018-06-19 22:42:04.087846
26,755.07,740.50,771.00,738.07,2017-12-26T23:59:58.9070000Z,2017-12-26T00:00:02.2070000Z,68977,101766.161153,2017-12-26,2018-06-19 22:42:04.087846
27,739.99,755.06,767.00,706.00,2017-12-27T23:59:57.7290000Z,2017-12-27T00:00:01.5000000Z,85164,127601.104526,2017-12-27,2018-06-19 22:42:04.087846
28,719.50,740.00,742.31,676.03,2017-12-28T23:59:57.5950000Z,2017-12-28T00:00:02.1940000Z,104449,182010.373331,2017-12-28,2018-06-19 22:42:04.087846
29,748.89,719.50,755.00,710.11,2017-12-29T23:59:59.3850000Z,2017-12-29T00:00:01.5130000Z,77578,151686.288135,2017-12-29,2018-06-19 22:42:04.087846
...,...,...,...,...,...,...,...,...,...,...
108,538.00,549.79,587.74,450.00,2018-03-18T23:59:54.8680000Z,2018-03-18T00:00:02.2280000Z,102214,445303.973599,2018-03-18,2018-06-19 22:42:04.087846
109,555.55,538.01,560.90,516.40,2018-03-19T23:59:53.3010000Z,2018-03-19T00:00:02.6540000Z,62585,185216.546628,2018-03-19,2018-06-19 22:42:04.087846
110,558.00,555.44,567.04,515.97,2018-03-20T23:59:56.2910000Z,2018-03-20T00:00:02.3020000Z,58629,161138.488331,2018-03-20,2018-06-19 22:42:04.087846
111,559.98,558.00,589.75,545.20,2018-03-21T23:59:57.5520000Z,2018-03-21T00:00:02.2280000Z,47341,116365.216394,2018-03-21,2018-06-19 22:42:04.087846
112,539.89,559.99,578.73,517.60,2018-03-22T23:59:55.6950000Z,2018-03-22T00:00:02.7710000Z,44204,96675.353093,2018-03-22,2018-06-19 22:42:04.087846
113,543.04,539.90,543.04,507.84,2018-03-23T23:59:57.7810000Z,2018-03-23T00:00:02.5970000Z,46219,88229.100998,2018-03-23,2018-06-19 22:42:04.087846
114,519.57,543.04,545.94,517.70,2018-03-24T23:59:50.6680000Z,2018-03-24T00:00:00.4150000Z,31581,53587.716870,2018-03-24,2018-06-19 22:42:04.087846
115,522.55,519.58,536.00,510.20,2018-03-25T23:59:59.9080000Z,2018-03-25T00:00:02.4390000Z,33978,51392.941976,2018-03-25,2018-06-19 22:42:04.087846
116,486.75,522.55,525.00,466.10,2018-03-26T23:59:56.1790000Z,2018-03-26T00:00:01.8590000Z,58271,151473.954704,2018-03-26,2018-06-19 22:42:04.087846
117,449.00,486.78,493.00,445.00,2018-03-27T23:59:55.4800000Z,2018-03-27T00:00:00.5230000Z,65160,163291.239491,2018-03-27,2018-06-19 22:42:04.087846
118,445.47,449.00,464.89,439.18,2018-03-28T23:59:55.8970000Z,2018-03-28T00:00:02.2130000Z,40681,96041.892382,2018-03-28,2018-06-19 22:42:04.087846
119,383.29,445.72,448.00,379.10,2018-03-29T23:59:58.7990000Z,2018-03-29T00:00:02.3640000Z,74520,291674.157996,2018-03-29,2018-06-19 22:42:04.087846
120,394.46,383.30,411.00,365.00,2018-03-30T23:59:52.5730000Z,2018-03-30T00:00:02.7560000Z,65495,285242.709595,2018-03-30,2018-06-19 22:42:04.087846
121,394.54,394.47,438.50,388.88,2018-03-31T23:59:49.6850000Z,2018-03-31T00:00:01.8410000Z,57518,157581.477964,2018-03-31,2018-06-19 22:42:04.087846
122,378.18,394.73,400.65,360.00,2018-04-01T23:59:48.9320000Z,2018-04-01T00:00:02.2260000Z,40299,111045.744501,2018-04-01,2018-06-19 22:42:04.087846
123,384.00,378.69,393.96,375.36,2018-04-02T23:59:48.0710000Z,2018-04-02T00:00:01.3780000Z,34775,91321.450409,2018-04-02,2018-06-19 22:42:04.087846
124,416.28,384.00,421.59,380.89,2018-04-03T23:59:59.8180000Z,2018-04-03T00:00:00.5010000Z,51825,166080.105119,2018-04-03,2018-06-19 22:42:04.087846
125,378.43,416.29,418.00,370.08,2018-04-04T23:59:57.0240000Z,2018-04-04T00:00:02.2640000Z,45455,120051.338826,2018-04-04,2018-06-19 22:42:04.087846
126,381.55,378.42,387.20,366.54,2018-04-05T23:59:59.4550000Z,2018-04-05T00:00:01.2220000Z,46101,92587.287527,2018-04-05,2018-06-19 22:42:04.087846
127,370.32,381.55,386.21,363.33,2018-04-06T23:59:46.6390000Z,2018-04-06T00:00:02.4940000Z,40371,96737.303682,2018-04-06,2018-06-19 22:42:04.087846
128,384.61,370.32,395.90,369.20,2018-04-07T23:59:59.3240000Z,2018-04-07T00:00:02.8340000Z,30581,62794.022613,2018-04-07,2018-06-19 22:42:04.087846
129,399.90,384.62,404.40,384.61,2018-04-08T23:59:46.5980000Z,2018-04-08T00:00:02.6320000Z,28280,70956.268280,2018-04-08,2018-06-19 22:42:04.087846
130,398.80,399.90,432.00,388.00,2018-04-09T23:59:49.3730000Z,2018-04-09T00:00:00.3670000Z,51621,131907.407911,2018-04-09,2018-06-19 22:42:04.087846
131,415.45,398.80,418.26,392.25,2018-04-10T23:59:50.2660000Z,2018-04-10T00:00:02.0280000Z,33872,69653.646111,2018-04-10,2018-06-19 22:42:04.087846
132,430.81,415.45,433.83,410.11,2018-04-11T23:59:57.3480000Z,2018-04-11T00:00:01.5700000Z,42759,91622.263941,2018-04-11,2018-06-19 22:42:04.087846
133,493.41,430.82,497.00,413.81,2018-04-12T23:59:56.9760000Z,2018-04-12T00:00:02.0250000Z,81546,247882.835651,2018-04-12,2018-06-19 22:42:04.087846
134,495.76,493.42,529.36,481.18,2018-04-13T23:59:59.8420000Z,2018-04-13T00:00:01.9020000Z,71576,234911.436484,2018-04-13,2018-06-19 22:42:04.087846
135,502.40,495.76,513.86,488.00,2018-04-14T23:59:56.1700000Z,2018-04-14T00:00:01.1370000Z,43153,77289.005380,2018-04-14,2018-06-19 22:42:04.087846
136,533.74,502.40,534.57,502.40,2018-04-15T23:59:58.9940000Z,2018-04-15T00:00:02.3980000Z,47144,101647.508512,2018-04-15,2018-06-19 22:42:04.087846
137,511.28,534.00,537.50,498.29,2018-04-16T23:59:52.7510000Z,2018-04-16T00:00:02.4400000Z,53894,130844.055968,2018-04-16,2018-06-19 22:42:04.087846