In [1]:
import sys
sys.path.append('../')

import cqt.datagen as dg
import pandas as pd
import pickle

from datetime import timedelta

In [2]:
key = '59103194-7503-441E-A849-1B961471734B'
source = 'coinapi'

In [3]:
request_btc = {'request_type' : 'ohlcv', \
               'symbol_id' : 'GEMINI_SPOT_BTC_USD', \
               'period_id' : '1DAY', \
               'time_start' : '2017-08-29T10:23:14', \
               'limit' : '100000'}

#lala=dg.get_req_str(source, request_btc)
#print(lala)
df_btc = dg.data_gen(source, request_btc, key, True)
df_btc.data.head()

https://rest.coinapi.io/v1/ohlcv/GEMINI_SPOT_BTC_USD/history?period_id=1DAY&time_start=2017-08-29T10:23:14&limit=100000

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,request_type,symbol_id,period_id,time_start,limit
0,4583.85,4590.00,4641.43,4495.05,2017-08-30T23:59:10.1240000Z,2017-08-30T00:00:00.8210000Z,14313,8832.814987,ohlcv,GEMINI_SPOT_BTC_USD,1DAY,2017-08-29T10:23:14,100000
1,4736.28,4583.00,4762.76,4579.91,2017-08-31T23:59:57.7490000Z,2017-08-31T00:00:12.3180000Z,11407,7268.196353,ohlcv,GEMINI_SPOT_BTC_USD,1DAY,2017-08-29T10:23:14,100000
2,4924.00,4736.28,4924.00,4709.28,2017-09-01T23:59:37.9730000Z,2017-09-01T00:00:11.4080000Z,11470,8188.879244,ohlcv,GEMINI_SPOT_BTC_USD,1DAY,2017-08-29T10:23:14,100000
3,4642.85,4924.00,4985.00,4505.00,2017-09-02T23:59:51.6230000Z,2017-09-02T00:00:17.9900000Z,20976,13402.051241,ohlcv,GEMINI_SPOT_BTC_USD,1DAY,2017-08-29T10:23:14,100000
4,4607.47,4643.63,4740.41,4460.05,2017-09-03T23:57:28.9910000Z,2017-09-03T00:00:00.0920000Z,12831,9479.341778,ohlcv,GEMINI_SPOT_BTC_USD,1DAY,2017-08-29T10:23:14,100000

In [4]:
request_btc_2 = {'request_type' : 'histoday', \
               'from_symbol' : 'BTC', \
                'to_symbol' : 'USD', \
               'time_start' : '2017-08-29T10:23:14', \
               'limit' : '253'}
source_2 = 'cryptocompare'
cfg_file = '../cqt/datagen/api.cfg' 
api_cfg = dg.read_api_cfg(cfg_file)

In [5]:
df_btc = dg.data_gen(source_2, request_btc_2, None, True)
df_btc.data.head()

https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=253&toTS=1504016594

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,request_type,from_symbol,to_symbol,time_start,limit
0,4158.92,4217.90,4387.76,4074.97,2017-09-11T20:00:00,2017-09-11T20:00:00,,4.534022e+08,histoday,BTC,USD,2017-08-29T10:23:14,253
1,3870.29,4158.92,4174.58,3752.01,2017-09-12T20:00:00,2017-09-12T20:00:00,,7.283852e+08,histoday,BTC,USD,2017-08-29T10:23:14,253
2,3243.08,3870.29,3930.69,3218.98,2017-09-13T20:00:00,2017-09-13T20:00:00,,1.118259e+09,histoday,BTC,USD,2017-08-29T10:23:14,253
3,3713.76,3243.08,3824.43,2979.88,2017-09-14T20:00:00,2017-09-14T20:00:00,,1.519154e+09,histoday,BTC,USD,2017-08-29T10:23:14,253
4,3698.92,3713.76,3893.67,3551.83,2017-09-15T20:00:00,2017-09-15T20:00:00,,6.275592e+08,histoday,BTC,USD,2017-08-29T10:23:14,253

In [6]:
request_btc_3 = {'request_type' : 'products', \
               'symbol_id' : 'BTC-USD', \
                'time_start' : '2017-08-29T00:00:00', \
               'time_end' : '2018-05-21T00:00:00', \
               'granularity' : '86400'}
source_3 = 'gdax'
cfg_file = '../cqt/datagen/api.cfg' 
api_cfg = dg.read_api_cfg(cfg_file)

In [7]:
df_btc = dg.data_gen(source_3, request_btc_3, None, True)
df_btc.data.head()

https://api.gdax.com/products/BTC-USD/candles?start=2017-08-29T00:00:00&end=2018-05-21T00:00:00&granularity=86400

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,request_type,symbol_id,time_start,time_end,granularity
0,8516.86,8235.60,8600.00,8172.00,2018-05-19T20:00:00,2018-05-19T20:00:00,,4480.150301,products,BTC-USD,2017-08-29T00:00:00,2018-05-21T00:00:00,86400
1,8235.60,8238.51,8390.00,8152.54,2018-05-18T20:00:00,2018-05-18T20:00:00,,4198.420451,products,BTC-USD,2017-08-29T00:00:00,2018-05-21T00:00:00,86400
2,8238.51,8059.00,8280.00,7927.21,2018-05-17T20:00:00,2018-05-17T20:00:00,,8239.273613,products,BTC-USD,2017-08-29T00:00:00,2018-05-21T00:00:00,86400
3,8059.00,8344.01,8483.48,8001.00,2018-05-16T20:00:00,2018-05-16T20:00:00,,8477.105968,products,BTC-USD,2017-08-29T00:00:00,2018-05-21T00:00:00,86400
4,8344.00,8477.47,8500.00,8103.33,2018-05-15T20:00:00,2018-05-15T20:00:00,,10858.391391,products,BTC-USD,2017-08-29T00:00:00,2018-05-21T00:00:00,86400

In [4]:
la=dg.get_req_str(source_3, request_btc_3)

In [5]:
source_url = api_cfg[source_3]['url']

In [6]:
source_url + la

'https://api.gdax.com/products/BTC-USD/candles?start=2017-08-29T00:00:00&end=2018-05-21T00:00:00&granularity=86400'

In [7]:
import requests
response = requests.get(source_url + la)

In [12]:
import pandas as pd
header = ['time','low','high','open','close','volumn']
df3 = pd.DataFrame(response.json(),columns=header)
df3['time']

0      1526774400
1      1526688000
2      1526601600
3      1526515200
4      1526428800
5      1526342400
6      1526256000
7      1526169600
8      1526083200
9      1525996800
10     1525910400
11     1525824000
12     1525737600
13     1525651200
14     1525564800
15     1525478400
16     1525392000
17     1525305600
18     1525219200
19     1525132800
20     1525046400
21     1524960000
22     1524873600
23     1524787200
24     1524700800
25     1524614400
26     1524528000
27     1524441600
28     1524355200
29     1524268800
          ...
235    1506470400
236    1506384000
237    1506297600
238    1506211200
239    1506124800
240    1506038400
241    1505952000
242    1505865600
243    1505779200
244    1505692800
245    1505606400
246    1505520000
247    1505433600
248    1505347200
249    1505260800
250    1505174400
251    1505088000
252    1505001600
253    1504915200
254    1504828800
255    1504742400
256    1504656000
257    1504569600
258    1504483200
259    1504396800
260    1504310400
261    1504224000
262    1504137600
263    1504051200
264    1503964800
Name: time, Length: 265, dtype: int64

In [38]:
header = ['time','low','high','open','close','volumn']
header.index('high')

2

In [42]:
df3

           time      low     high     open    close        volumn
0    1526774400  8172.00  8600.00  8235.60  8516.86   4479.428442
1    1526688000  8152.54  8390.00  8238.51  8235.60   4198.420451
2    1526601600  7927.21  8280.00  8059.00  8238.51   8239.273613
3    1526515200  8001.00  8483.48  8344.01  8059.00   8477.295484
4    1526428800  8103.33  8500.00  8477.47  8344.01  10858.296065
5    1526342400  8420.45  8847.00  8670.00  8477.46  10892.265349
6    1526256000  8289.79  8880.01  8686.10  8670.00  14127.775981
7    1526169600  8345.00  8774.32  8474.31  8686.10   6678.594312
8    1526083200  8223.43  8658.57  8403.33  8475.00  11392.073134
9    1525996800  8351.00  9010.51  9010.51  8403.33  17511.826169
10   1525910400  9001.01  9386.32  9300.08  9010.51   7596.405123
11   1525824000  8960.00  9370.00  9177.81  9300.08   8628.873384
12   1525737600  9050.00  9463.13  9356.25  9177.81   9561.303565
13   1525651200  9162.85  9619.55  9600.00  9356.25   9823.341818
14   1525564800  9390.00  9880.00  9799.99  9600.00   7592.051752
15   1525478400  9660.28  9948.12  9685.00  9800.00   9390.688571
16   1525392000  9451.50  9745.00  9725.74  9685.00  10837.796786
17   1525305600  9131.00  9800.00  9190.47  9725.74  14956.039534
18   1525219200  8990.00  9251.05  9072.29  9190.48   8823.504438
19   1525132800  8831.21  9245.37  9243.83  9072.29  11372.350451
20   1525046400  9110.88  9447.00  9389.01  9243.83   8862.273201
21   1524960000  9179.99  9512.50  9329.99  9389.01   7937.986418
22   1524873600  8863.42  9447.00  8922.56  9329.99   8849.352610
23   1524787200  8910.00  9369.00  9272.12  8922.55  12084.829389
24   1524700800  8660.00  9318.00  8865.98  9272.11  15215.386803
25   1524614400  8602.43  9763.49  9645.00  8865.98  31578.180049
26   1524528000  8930.00  9728.56  8931.31  9650.00  20835.624367
27   1524441600  8775.10  8991.00  8795.00  8931.30   8040.335580
28   1524355200  8754.01  9015.00  8915.42  8795.01   7802.396345
29   1524268800  8610.70  9038.87  8866.27  8915.42  12270.611938
..          ...      ...      ...      ...      ...           ...
235  1506470400  3880.36  4228.39  3885.09  4200.00  12072.668696
236  1506384000  3854.29  3960.00  3919.98  3885.09   5893.223538
237  1506297600  3669.01  3969.37  3669.01  3919.78   9583.737589
238  1506211200  3630.01  3789.36  3787.33  3669.01   4692.790902
239  1506124800  3580.00  3818.89  3619.01  3787.33   6595.935307
240  1506038400  3509.79  3767.77  3617.47  3619.01  12648.821301
241  1505952000  3571.00  3903.57  3872.07  3617.47  14978.485426
242  1505865600  3850.01  4044.00  3910.11  3872.06   9910.401114
243  1505779200  3850.44  4125.22  4100.00  3910.11  13781.155386
244  1505692800  3717.56  4130.00  3719.98  4100.00  16906.723390
245  1505606400  3475.64  3841.00  3726.51  3719.97  11718.880202
246  1505520000  3600.00  4042.98  3740.02  3726.51  19031.675972
247  1505433600  2975.01  3894.48  3249.99  3740.02  54488.482419
248  1505347200  3230.05  3923.00  3855.61  3250.40  36338.027247
249  1505260800  3726.00  4174.53  4164.52  3855.32  22842.532256
250  1505174400  4080.00  4375.37  4210.72  4164.52  12373.398578
251  1505088000  4111.14  4365.00  4251.36  4210.72   9068.255076
252  1505001600  4139.00  4349.99  4334.36  4251.36  10076.128787
253  1504915200  4180.00  4449.95  4350.00  4334.36  10073.895587
254  1504828800  4140.00  4679.99  4624.18  4350.00  22102.279125
255  1504742400  4475.01  4665.44  4616.18  4624.18   8455.041480
256  1504656000  4431.00  4692.00  4432.51  4616.18  16174.304331
257  1504569600  4242.38  4514.95  4498.46  4432.51  17315.430192
258  1504483200  4234.16  4628.05  4626.05  4498.25  20518.884483
259  1504396800  4524.00  4749.99  4642.39  4626.05  11568.858765
260  1504310400  4500.00  4980.00  4948.00  4649.99  19577.188745
261  1504224000  4706.00  4948.00  4743.94  4947.99  16759.143608
262  1504137600  4580.84  4769.03  4581.98  4743.94  13628.457778
263  1504051200  4500.55  4635.21  4599.01  4581.98  10383.434305
264  1503964800  4350.00  4656.83  4384.99  4599.00  14509.958124

[265 rows x 6 columns]