In [1]:
import sys
sys.path.append('../')

import cqt
import cqt.datagen as dg
import cqt.dbutility.dbutility as db

import pandas as pd
import numpy as np

Below command gives a list of current tables in the database.
The table names gives you the following information:

    "DataSource"-"DataType"-"SymbolID"-"PeriodID"
    
    - DataSource: currently, all of our data come from coinapi
    - DataType: currently, only ohlcv (historical prices) is supported
    - SymbolID: This is defined by coinapi, it contains the ExchangeID, PriceType, Asset, BaseAsset
    - PeriodID: defines the period of each row (data) in the table 
    
Each ohlcv table contains data based on PeriodID. eg. PeriodID=1DAY means that each row in the table is a daily price
Each ohlcv table has a unqiue-key column called "key". This is also defined based on PeriodID. eg PeriodID=1DAY, then the "key" is the date.

In [2]:
### db.get_table_list() method takes 1 argument db_id, and is defaulted to 'Amazon_RDS'
df_tbl_list=db.get_table_list()
print(df_tbl_list)

                                   table_name
0    coinapi-ohlcv-BINANCE_SPOT_BTC_USDT-1DAY
1    coinapi-ohlcv-BINANCE_SPOT_ETH_USDT-1DAY
2    coinapi-ohlcv-COINBASE_SPOT_LTC_USD-1DAY
3    coinapi-ohlcv-BINANCE_SPOT_ADA_USDT-1DAY
4         coinapi-ohlcv-DSX_SPOT_ETH_USD-1DAY
5      coinapi-ohlcv-KRAKEN_SPOT_XLM_USD-1DAY
6         coinapi-ohlcv-DSX_SPOT_LTC_USD-1DAY
7   coinapi-ohlcv-BINANCE_SPOT_IOTA_USDT-1DAY
8      coinapi-ohlcv-GEMINI_SPOT_BTC_USD-1DAY
9    coinapi-ohlcv-BINANCE_SPOT_EOS_USDT-1DAY
10        coinapi-ohlcv-DSX_SPOT_BCH_USD-1DAY
11     coinapi-ohlcv-KRAKEN_SPOT_EOS_USD-1DAY
12     coinapi-ohlcv-KRAKEN_SPOT_BCH_USD-1DAY
13     coinapi-ohlcv-KRAKEN_SPOT_XRP_USD-1DAY
14   coinapi-ohlcv-BINANCE_SPOT_LTC_USDT-1DAY
15   coinapi-ohlcv-COINBASE_SPOT_BTC_USD-1DAY
16   coinapi-ohlcv-BINANCE_SPOT_BCH_USDT-1DAY
17     coinapi-ohlcv-GEMINI_SPOT_ETH_USD-1DAY
18   coinapi-ohlcv-BINANCE_SPOT_XRP_USDT-1DAY
19     coinapi-ohlcv-KRAKEN_SPOT_ETH_USD-1DAY
20   coinapi-ohlcv-COINBASE_SPOT_BCH_USD-1DAY
21   coinapi-ohlcv-BINANCE_SPOT_XLM_USDT-1DAY
22        coinapi-ohlcv-DSX_SPOT_BTC_USD-1DAY
23     coinapi-ohlcv-KRAKEN_SPOT_LTC_USD-1DAY
24   coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY
25    coinapi-ohlcv-KRAKEN_SPOT_USDT_USD-1DAY
26     coinapi-ohlcv-KRAKEN_SPOT_BTC_USD-1DAY

In order to query data from the database, you will need to know which table you are getting your data from. 
You can get the list of current tables in the DB by running the previous command.

After choosing a table, you will need to run db.get_from_db() method. 

This method takes 4 arguments:
    - tbl_name: the table name that you are querying from
    - from_date: the date(time) you want your data to start. It returns from the first available data, if this arg is before the first availale data in the table, or if the arg is not given
    - to_date: the date(time) you want your data to end. It returns upto the last available data, if this arg is after the last availale data in the table, or if the arg is not given
    
    Note: the format of the from_date and to_date is not strick, as the DB will interpret it to a datetime object and compare with the "key" column.

In [3]:
tbl_name='coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY'
laladf=db.get_from_db(tbl_name,from_date='2017-11-30',to_date='2018/04/16')
laladf.data

,close,open,high,low,time_close,time_open,trades_count,volume_traded,key,last_updated
0,434.00,434.01,470.00,401.50,2017-11-30T23:59:59.5550000Z,2017-11-30T00:00:00.7970000Z,186864,362765.245598,2017-11-30,2018-06-19 22:42:04.087846
1,463.82,434.00,468.43,421.57,2017-12-01T23:59:58.5070000Z,2017-12-01T00:00:00.4150000Z,127714,195010.419417,2017-12-01,2018-06-19 22:42:04.087846
2,460.34,463.82,474.96,451.21,2017-12-02T23:59:54.9710000Z,2017-12-02T00:00:00.0660000Z,240849,162582.069582,2017-12-02,2018-06-19 22:42:04.087846
3,465.00,460.35,483.61,450.00,2017-12-03T23:59:59.9990000Z,2017-12-03T00:00:00.1110000Z,236053,167096.251216,2017-12-03,2018-06-19 22:42:04.087846
4,468.22,465.00,473.00,449.40,2017-12-04T23:59:51.7190000Z,2017-12-04T00:00:00.1450000Z,137678,135389.881073,2017-12-04,2018-06-19 22:42:04.087846
5,457.30,468.22,470.00,452.00,2017-12-05T23:59:47.9810000Z,2017-12-05T00:00:00.4350000Z,144990,153047.682357,2017-12-05,2018-06-19 22:42:04.087846
6,432.49,457.29,461.99,425.01,2017-12-06T23:59:57.9520000Z,2017-12-06T00:00:00.3550000Z,230313,349323.666095,2017-12-06,2018-06-19 22:42:04.087846
7,433.27,432.48,448.89,415.01,2017-12-07T23:59:54.0740000Z,2017-12-07T00:00:00.6010000Z,177856,330768.805504,2017-12-07,2018-06-19 22:42:04.087846
8,463.45,432.82,479.10,420.01,2017-12-08T23:59:55.7840000Z,2017-12-08T00:00:03.5360000Z,183130,395454.082134,2017-12-08,2018-06-19 22:42:04.087846
9,485.04,463.45,535.10,450.00,2017-12-09T23:59:58.8290000Z,2017-12-09T00:00:02.2140000Z,370993,544362.402031,2017-12-09,2018-06-19 22:42:04.087846
10,447.51,485.05,486.13,438.00,2017-12-10T23:59:59.6920000Z,2017-12-10T00:00:02.4960000Z,291684,217508.161326,2017-12-10,2018-06-19 22:42:04.087846
11,518.00,447.51,519.49,445.23,2017-12-11T23:59:57.9900000Z,2017-12-11T00:00:00.0580000Z,209081,297836.625750,2017-12-11,2018-06-19 22:42:04.087846
12,686.82,518.00,714.00,501.11,2017-12-12T23:59:58.4590000Z,2017-12-12T00:00:01.0730000Z,296147,878370.084399,2017-12-12,2018-06-19 22:42:04.087846
13,711.94,686.82,784.77,606.00,2017-12-13T23:59:59.7950000Z,2017-12-13T00:00:00.0770000Z,333556,788035.159686,2017-12-13,2018-06-19 22:42:04.087846
14,705.01,711.95,758.61,660.83,2017-12-14T23:59:59.9390000Z,2017-12-14T00:00:00.2140000Z,228288,425224.829768,2017-12-14,2018-06-19 22:42:04.087846
15,693.50,705.01,706.00,618.00,2017-12-15T23:59:59.3350000Z,2017-12-15T00:00:00.8220000Z,214340,315021.598223,2017-12-15,2018-06-19 22:42:04.087846
16,703.59,693.50,735.00,684.00,2017-12-16T23:59:59.6870000Z,2017-12-16T00:00:00.2080000Z,252865,197522.085337,2017-12-16,2018-06-19 22:42:04.087846
17,732.18,703.62,746.93,703.00,2017-12-17T23:59:55.9550000Z,2017-12-17T00:00:00.3530000Z,261134,170369.236464,2017-12-17,2018-06-19 22:42:04.087846
18,785.65,732.17,798.81,695.00,2017-12-18T23:59:59.8160000Z,2017-12-18T00:00:00.3060000Z,219802,314598.756952,2017-12-18,2018-06-19 22:42:04.087846
19,826.65,785.65,875.00,770.03,2017-12-19T23:59:55.9120000Z,2017-12-19T00:00:00.5990000Z,262905,428310.801137,2017-12-19,2018-06-19 22:42:04.087846
20,802.86,826.65,833.60,701.00,2017-12-20T23:59:58.2250000Z,2017-12-20T00:00:00.9290000Z,195137,341653.572191,2017-12-20,2018-06-19 22:42:04.087846
21,796.98,802.86,845.00,767.15,2017-12-21T23:59:58.4890000Z,2017-12-21T00:00:01.2300000Z,166798,248883.246195,2017-12-21,2018-06-19 22:42:04.087846
22,682.11,796.99,799.95,460.00,2017-12-22T23:59:56.1590000Z,2017-12-22T00:00:03.3410000Z,262015,836760.112370,2017-12-22,2018-06-19 22:42:04.087846
23,732.80,682.11,774.99,670.00,2017-12-23T23:59:51.6850000Z,2017-12-23T00:00:02.0370000Z,92123,203543.166484,2017-12-23,2018-06-19 22:42:04.087846
24,697.04,732.76,734.86,641.14,2017-12-24T23:59:57.8790000Z,2017-12-24T00:00:00.0160000Z,90148,172977.812879,2017-12-24,2018-06-19 22:42:04.087846
25,740.50,697.05,759.88,693.50,2017-12-25T23:59:54.5720000Z,2017-12-25T00:00:02.5130000Z,80295,125678.417005,2017-12-25,2018-06-19 22:42:04.087846
26,755.07,740.50,771.00,738.07,2017-12-26T23:59:58.9070000Z,2017-12-26T00:00:02.2070000Z,68977,101766.161153,2017-12-26,2018-06-19 22:42:04.087846
27,739.99,755.06,767.00,706.00,2017-12-27T23:59:57.7290000Z,2017-12-27T00:00:01.5000000Z,85164,127601.104526,2017-12-27,2018-06-19 22:42:04.087846
28,719.50,740.00,742.31,676.03,2017-12-28T23:59:57.5950000Z,2017-12-28T00:00:02.1940000Z,104449,182010.373331,2017-12-28,2018-06-19 22:42:04.087846
29,748.89,719.50,755.00,710.11,2017-12-29T23:59:59.3850000Z,2017-12-29T00:00:01.5130000Z,77578,151686.288135,2017-12-29,2018-06-19 22:42:04.087846
...,...,...,...,...,...,...,...,...,...,...
108,538.00,549.79,587.74,450.00,2018-03-18T23:59:54.8680000Z,2018-03-18T00:00:02.2280000Z,102214,445303.973599,2018-03-18,2018-06-19 22:42:04.087846
109,555.55,538.01,560.90,516.40,2018-03-19T23:59:53.3010000Z,2018-03-19T00:00:02.6540000Z,62585,185216.546628,2018-03-19,2018-06-19 22:42:04.087846
110,558.00,555.44,567.04,515.97,2018-03-20T23:59:56.2910000Z,2018-03-20T00:00:02.3020000Z,58629,161138.488331,2018-03-20,2018-06-19 22:42:04.087846
111,559.98,558.00,589.75,545.20,2018-03-21T23:59:57.5520000Z,2018-03-21T00:00:02.2280000Z,47341,116365.216394,2018-03-21,2018-06-19 22:42:04.087846
112,539.89,559.99,578.73,517.60,2018-03-22T23:59:55.6950000Z,2018-03-22T00:00:02.7710000Z,44204,96675.353093,2018-03-22,2018-06-19 22:42:04.087846
113,543.04,539.90,543.04,507.84,2018-03-23T23:59:57.7810000Z,2018-03-23T00:00:02.5970000Z,46219,88229.100998,2018-03-23,2018-06-19 22:42:04.087846
114,519.57,543.04,545.94,517.70,2018-03-24T23:59:50.6680000Z,2018-03-24T00:00:00.4150000Z,31581,53587.716870,2018-03-24,2018-06-19 22:42:04.087846
115,522.55,519.58,536.00,510.20,2018-03-25T23:59:59.9080000Z,2018-03-25T00:00:02.4390000Z,33978,51392.941976,2018-03-25,2018-06-19 22:42:04.087846
116,486.75,522.55,525.00,466.10,2018-03-26T23:59:56.1790000Z,2018-03-26T00:00:01.8590000Z,58271,151473.954704,2018-03-26,2018-06-19 22:42:04.087846
117,449.00,486.78,493.00,445.00,2018-03-27T23:59:55.4800000Z,2018-03-27T00:00:00.5230000Z,65160,163291.239491,2018-03-27,2018-06-19 22:42:04.087846
118,445.47,449.00,464.89,439.18,2018-03-28T23:59:55.8970000Z,2018-03-28T00:00:02.2130000Z,40681,96041.892382,2018-03-28,2018-06-19 22:42:04.087846
119,383.29,445.72,448.00,379.10,2018-03-29T23:59:58.7990000Z,2018-03-29T00:00:02.3640000Z,74520,291674.157996,2018-03-29,2018-06-19 22:42:04.087846
120,394.46,383.30,411.00,365.00,2018-03-30T23:59:52.5730000Z,2018-03-30T00:00:02.7560000Z,65495,285242.709595,2018-03-30,2018-06-19 22:42:04.087846
121,394.54,394.47,438.50,388.88,2018-03-31T23:59:49.6850000Z,2018-03-31T00:00:01.8410000Z,57518,157581.477964,2018-03-31,2018-06-19 22:42:04.087846
122,378.18,394.73,400.65,360.00,2018-04-01T23:59:48.9320000Z,2018-04-01T00:00:02.2260000Z,40299,111045.744501,2018-04-01,2018-06-19 22:42:04.087846
123,384.00,378.69,393.96,375.36,2018-04-02T23:59:48.0710000Z,2018-04-02T00:00:01.3780000Z,34775,91321.450409,2018-04-02,2018-06-19 22:42:04.087846
124,416.28,384.00,421.59,380.89,2018-04-03T23:59:59.8180000Z,2018-04-03T00:00:00.5010000Z,51825,166080.105119,2018-04-03,2018-06-19 22:42:04.087846
125,378.43,416.29,418.00,370.08,2018-04-04T23:59:57.0240000Z,2018-04-04T00:00:02.2640000Z,45455,120051.338826,2018-04-04,2018-06-19 22:42:04.087846
126,381.55,378.42,387.20,366.54,2018-04-05T23:59:59.4550000Z,2018-04-05T00:00:01.2220000Z,46101,92587.287527,2018-04-05,2018-06-19 22:42:04.087846
127,370.32,381.55,386.21,363.33,2018-04-06T23:59:46.6390000Z,2018-04-06T00:00:02.4940000Z,40371,96737.303682,2018-04-06,2018-06-19 22:42:04.087846
128,384.61,370.32,395.90,369.20,2018-04-07T23:59:59.3240000Z,2018-04-07T00:00:02.8340000Z,30581,62794.022613,2018-04-07,2018-06-19 22:42:04.087846
129,399.90,384.62,404.40,384.61,2018-04-08T23:59:46.5980000Z,2018-04-08T00:00:02.6320000Z,28280,70956.268280,2018-04-08,2018-06-19 22:42:04.087846
130,398.80,399.90,432.00,388.00,2018-04-09T23:59:49.3730000Z,2018-04-09T00:00:00.3670000Z,51621,131907.407911,2018-04-09,2018-06-19 22:42:04.087846
131,415.45,398.80,418.26,392.25,2018-04-10T23:59:50.2660000Z,2018-04-10T00:00:02.0280000Z,33872,69653.646111,2018-04-10,2018-06-19 22:42:04.087846
132,430.81,415.45,433.83,410.11,2018-04-11T23:59:57.3480000Z,2018-04-11T00:00:01.5700000Z,42759,91622.263941,2018-04-11,2018-06-19 22:42:04.087846
133,493.41,430.82,497.00,413.81,2018-04-12T23:59:56.9760000Z,2018-04-12T00:00:02.0250000Z,81546,247882.835651,2018-04-12,2018-06-19 22:42:04.087846
134,495.76,493.42,529.36,481.18,2018-04-13T23:59:59.8420000Z,2018-04-13T00:00:01.9020000Z,71576,234911.436484,2018-04-13,2018-06-19 22:42:04.087846
135,502.40,495.76,513.86,488.00,2018-04-14T23:59:56.1700000Z,2018-04-14T00:00:01.1370000Z,43153,77289.005380,2018-04-14,2018-06-19 22:42:04.087846
136,533.74,502.40,534.57,502.40,2018-04-15T23:59:58.9940000Z,2018-04-15T00:00:02.3980000Z,47144,101647.508512,2018-04-15,2018-06-19 22:42:04.087846
137,511.28,534.00,537.50,498.29,2018-04-16T23:59:52.7510000Z,2018-04-16T00:00:02.4400000Z,53894,130844.055968,2018-04-16,2018-06-19 22:42:04.087846

The output of this method is an object from IndexedDBObj class.
It contains the following attributes:
    - id: the table name
    - source: the data source obtained by parsing id
    - type: the data type obtained by parsing id
    - symbol: the symbol id obtained by parsing id
    - period: the period id obtained by parsing id
    - data: the pandas.DataFrame containing the actual data

In [4]:
print(laladf.id)
print(laladf.source)
print(laladf.type)
print(laladf.symbol)
print(laladf.period)

coinapi-ohlcv-COINBASE_SPOT_ETH_USD-1DAY
coinapi
ohlcv
COINBASE_SPOT_ETH_USD
1DAY