In [2]:
import sys
sys.path.append('../')

import os

import cqt
import cqt.env.mkt_env as env 
import cqt.env.mkt_env_spot as envspot
import cqt.ledger.ledger as ledger
import cqt.datagen as dg
import cqt.dbutility.dbutility as db
import cqt.strats.strategy as stg
import cqt.strats.strategy_long_short_average as stg_ls
import pandas as pd
import pickle

from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import copy
import cqt.strats.StrategyTensorFlow as stg_tf

outDir = '../performance_tracking'
if not os.path.exists(outDir):
    os.makedirs(outDir)
    print(outDir)
    
#pickleFileDir = '../data/pickle'
#file_btc = '../data/pickle/coinapi_ohlcv_GEMINI_SPOT_BTC_USD_1DAY_data.pickle'
#df_btc = pd.read_pickle(file_btc)
#file_eth = '../data/pickle/coinapi_ohlcv_GEMINI_SPOT_ETH_USD_1DAY_data.pickle'
#df_eth = pd.read_pickle(file_eth)

/home/ec2-user/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
TODAY = datetime.now()
BACK_TEST_START_DATE = datetime(2017,1,1)

In [4]:
tbl_name='coinapi-ohlcv-COINBASE_SPOT_BTC_USD-1DAY'
df_btc=db.get_from_db(tbl_name,from_date='2016-01-01',to_date=TODAY.strftime('%Y-%M-%d'))

In [9]:
df_btc.data

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key,last_updated
0,435.66,430.35,437.15,427.92,2016-01-01T23:59:01.0000000Z,2016-01-01T00:00:16.0000000Z,12169,3863.277451,2016-01-01,2018-07-02 11:51:28.312307
1,435.40,435.67,437.56,432.41,2016-01-02T23:59:23.1200000Z,2016-01-02T00:00:02.0000000Z,11493,3275.441801,2016-01-02,2018-07-02 11:51:28.312307
2,431.91,435.40,435.75,425.02,2016-01-03T23:59:59.8000000Z,2016-01-03T00:00:37.7930000Z,14239,3904.335318,2016-01-03,2018-07-02 11:51:28.312307
3,433.85,431.90,435.79,431.37,2016-01-04T23:59:54.9330000Z,2016-01-04T00:00:34.1730000Z,11331,5893.789223,2016-01-04,2018-07-02 11:51:28.312307
4,433.34,433.84,435.64,430.00,2016-01-05T23:59:31.3770000Z,2016-01-05T00:00:28.7270000Z,13848,5150.109476,2016-01-05,2018-07-02 11:51:28.312307
5,430.87,433.32,433.46,428.15,2016-01-06T23:59:55.6670000Z,2016-01-06T00:00:01.6200000Z,15951,5476.959959,2016-01-06,2018-07-02 11:51:28.312307
6,459.07,430.66,460.15,430.64,2016-01-07T23:59:59.0570000Z,2016-01-07T00:00:02.2870000Z,29221,13907.201729,2016-01-07,2018-07-02 11:51:28.312307
7,454.44,459.07,464.40,447.53,2016-01-08T23:59:32.7770000Z,2016-01-08T00:00:02.2970000Z,20050,8341.783440,2016-01-08,2018-07-02 11:51:28.312307
8,450.38,454.41,456.00,447.66,2016-01-09T23:59:10.8700000Z,2016-01-09T00:00:12.5570000Z,18769,4241.356651,2016-01-09,2018-07-02 11:51:28.312307
9,449.99,450.39,451.39,442.96,2016-01-10T23:59:40.1370000Z,2016-01-10T00:00:01.6270000Z,11582,3954.322400,2016-01-10,2018-07-02 11:51:28.312307
10,449.19,449.99,452.65,445.88,2016-01-11T23:59:40.8770000Z,2016-01-11T00:00:14.2300000Z,15254,5597.637183,2016-01-11,2018-07-02 11:51:28.312307
11,434.01,449.26,449.44,431.83,2016-01-12T23:59:57.8070000Z,2016-01-12T00:00:11.2070000Z,13955,6542.947436,2016-01-12,2018-07-02 11:51:28.312307
12,432.77,434.01,437.50,425.00,2016-01-13T23:59:59.1330000Z,2016-01-13T00:00:01.4170000Z,21484,9000.370696,2016-01-13,2018-07-02 11:51:28.312307
13,430.03,432.70,435.27,428.00,2016-01-14T23:59:59.4270000Z,2016-01-14T00:00:02.3400000Z,12068,5673.632962,2016-01-14,2018-07-02 11:51:28.312307
14,357.53,430.04,430.29,357.30,2016-01-15T23:59:51.5800000Z,2016-01-15T00:00:01.0930000Z,42696,28641.673586,2016-01-15,2018-07-02 11:51:28.312307
15,388.70,357.59,391.00,350.92,2016-01-16T23:59:38.7000000Z,2016-01-16T00:00:00.4600000Z,28648,17985.238784,2016-01-16,2018-07-02 11:51:28.312307
16,378.46,388.70,391.00,372.00,2016-01-17T23:59:51.6930000Z,2016-01-17T00:00:06.8870000Z,11965,8278.401793,2016-01-17,2018-07-02 11:51:28.312307
17,384.89,378.47,386.10,370.10,2016-01-18T23:59:43.8000000Z,2016-01-18T00:00:01.4800000Z,20289,8711.459756,2016-01-18,2018-07-02 11:51:28.312307
18,375.27,384.79,385.50,370.00,2016-01-19T23:59:35.0630000Z,2016-01-19T00:00:08.6970000Z,16189,8133.367010,2016-01-19,2018-07-02 11:51:28.312307
19,418.54,375.28,425.10,369.00,2016-01-20T23:59:41.6500000Z,2016-01-20T00:00:00.9170000Z,26750,13867.591226,2016-01-20,2018-07-02 11:51:28.312307
20,409.38,418.89,424.78,403.21,2016-01-21T23:59:31.2470000Z,2016-01-21T00:00:02.8870000Z,17927,8739.163419,2016-01-21,2018-07-02 11:51:28.312307
21,382.90,409.02,413.99,373.86,2016-01-22T23:59:40.0270000Z,2016-01-22T00:00:30.2030000Z,19309,13430.103039,2016-01-22,2018-07-02 11:51:28.312307
22,387.50,382.93,398.72,382.55,2016-01-23T23:52:33.5130000Z,2016-01-23T00:00:01.3870000Z,10997,6310.030022,2016-01-23,2018-07-02 11:51:28.312307
23,403.05,387.50,406.93,387.49,2016-01-24T23:59:29.8930000Z,2016-01-24T00:02:57.4170000Z,3871,3550.831772,2016-01-24,2018-07-02 11:51:28.312307
24,391.40,403.04,403.04,386.41,2016-01-25T23:59:31.1570000Z,2016-01-25T00:01:22.3000000Z,7996,6491.999812,2016-01-25,2018-07-02 11:51:28.312307
25,391.54,391.40,397.00,387.78,2016-01-26T23:59:31.7000000Z,2016-01-26T00:00:01.5100000Z,8820,6947.196367,2016-01-26,2018-07-02 11:51:28.312307
26,394.79,391.70,397.18,390.70,2016-01-27T23:59:01.4230000Z,2016-01-27T00:00:01.7300000Z,12536,6324.164190,2016-01-27,2018-07-02 11:51:28.312307
27,379.61,394.60,395.00,377.12,2016-01-28T23:59:31.3670000Z,2016-01-28T00:00:01.6200000Z,27964,9072.852047,2016-01-28,2018-07-02 11:51:28.312307
28,378.68,379.63,385.05,363.25,2016-01-29T23:59:31.0170000Z,2016-01-29T00:00:01.4530000Z,23039,12105.310437,2016-01-29,2018-07-02 11:51:28.312307
29,378.46,378.68,382.04,375.00,2016-01-30T23:59:31.5730000Z,2016-01-30T00:00:01.6700000Z,14427,4154.296422,2016-01-30,2018-07-02 11:51:28.312307
...,...,...,...,...,...,...,...,...,...,...
941,8179.99,8216.33,8274.92,8080.00,2018-07-30T05:07:19.6020000Z,2018-07-30T00:00:00.2220000Z,16972,2004.584335,2018-07-30,2018-07-30 01:10:58.055912
942,8101.47,8170.00,8173.57,8077.00,2018-07-31T05:09:46.0160000Z,2018-07-31T00:00:09.0450000Z,12580,1297.659019,2018-07-31,2018-07-31 01:10:23.234431
943,7537.98,7727.28,7750.00,7504.00,2018-08-01T05:10:00.3530000Z,2018-08-01T00:00:00.2370000Z,22523,4123.197542,2018-08-01,2018-08-01 01:10:22.574153
944,7629.90,7603.99,7707.54,7593.24,2018-08-02T05:09:58.9680000Z,2018-08-02T00:00:00.3620000Z,15356,1762.492378,2018-08-02,2018-08-02 01:10:23.716018
945,7348.68,7533.92,7533.92,7285.00,2018-08-03T05:09:42.2540000Z,2018-08-03T00:00:00.9340000Z,22013,3742.673105,2018-08-03,2018-08-03 01:10:23.172074
946,7005.00,7414.08,7495.00,6940.00,2018-08-04T23:59:52.6420000Z,2018-08-04T00:00:00.2070000Z,77703,9933.750310,2018-08-04,2018-08-24 20:08:09.603210
947,7030.01,7005.00,7086.52,6880.00,2018-08-05T23:59:59.4000000Z,2018-08-05T00:00:00.4560000Z,55272,6243.599909,2018-08-05,2018-08-24 20:08:09.603210
948,6938.00,7030.00,7163.00,6840.00,2018-08-06T23:59:58.8520000Z,2018-08-06T00:00:01.2100000Z,67960,8956.049417,2018-08-06,2018-08-24 20:08:09.603210
949,6718.22,6938.00,7152.00,6647.07,2018-08-07T23:59:59.9020000Z,2018-08-07T00:00:00.4850000Z,110099,11165.126633,2018-08-07,2018-08-24 20:08:09.603210
950,6282.50,6718.22,6718.22,6121.04,2018-08-08T23:59:59.2130000Z,2018-08-08T00:00:00.1910000Z,115702,22145.272919,2018-08-08,2018-08-24 20:08:09.603210
951,6546.45,6282.50,6633.21,6177.51,2018-08-09T23:59:59.6640000Z,2018-08-09T00:00:00.6590000Z,76329,13980.700564,2018-08-09,2018-08-24 20:08:09.603210
952,6146.01,6546.46,6584.80,6015.00,2018-08-10T23:59:59.3890000Z,2018-08-10T00:00:00.4890000Z,44492,8065.728360,2018-08-10,2018-08-24 20:08:09.603210
953,6235.56,6146.01,6485.76,6003.00,2018-08-11T23:59:58.2330000Z,2018-08-11T00:00:04.7470000Z,83058,10153.234163,2018-08-11,2018-08-24 20:08:09.603210
954,6316.01,6236.00,6482.00,6169.46,2018-08-12T23:59:57.7420000Z,2018-08-12T00:00:03.3720000Z,67737,8324.091041,2018-08-12,2018-08-24 20:08:09.603210
955,6253.67,6316.00,6544.99,6139.57,2018-08-13T23:59:58.9910000Z,2018-08-13T00:00:00.7920000Z,83973,10604.122790,2018-08-13,2018-08-24 20:08:09.603210
956,6195.01,6253.67,6258.32,5900.00,2018-08-14T23:59:58.3090000Z,2018-08-14T00:00:00.0270000Z,105800,17742.682792,2018-08-14,2018-08-24 20:08:09.603210
957,6269.01,6195.00,6636.00,6189.00,2018-08-15T23:59:54.8580000Z,2018-08-15T00:00:00.8070000Z,99722,17786.545794,2018-08-15,2018-08-24 20:08:09.603210
958,6315.90,6269.01,6475.01,6200.00,2018-08-16T23:59:58.5950000Z,2018-08-16T00:00:00.0200000Z,71674,8965.557931,2018-08-16,2018-08-24 20:08:09.603210
959,6585.49,6315.90,6585.50,6290.39,2018-08-17T23:59:58.6260000Z,2018-08-17T00:00:00.1260000Z,79388,10731.589091,2018-08-17,2018-08-24 20:08:09.603210
960,6396.64,6585.50,6613.23,6312.00,2018-08-18T23:59:59.6620000Z,2018-08-18T00:00:00.0550000Z,58349,6974.441859,2018-08-18,2018-08-24 20:08:09.603210
961,6489.53,6396.63,6547.34,6328.45,2018-08-19T23:59:51.3010000Z,2018-08-19T00:00:00.3550000Z,52105,4472.172509,2018-08-19,2018-08-24 20:08:09.603210
962,6258.74,6489.53,6525.00,6227.71,2018-08-20T23:59:59.0300000Z,2018-08-20T00:00:00.1970000Z,71012,7905.423026,2018-08-20,2018-08-24 20:08:09.603210
963,6475.89,6258.74,6490.00,6249.12,2018-08-21T23:59:59.5620000Z,2018-08-21T00:00:00.0960000Z,57360,6860.900029,2018-08-21,2018-08-24 20:08:09.603210
964,6359.99,6475.89,6890.65,6250.00,2018-08-22T23:59:59.9270000Z,2018-08-22T00:00:01.0120000Z,92226,17611.225884,2018-08-22,2018-08-24 20:08:09.603210
965,6526.36,6359.99,6568.37,6348.69,2018-08-23T23:59:58.8510000Z,2018-08-23T00:00:00.5240000Z,61341,6998.973168,2018-08-23,2018-08-24 20:08:09.603210
966,6691.64,6526.36,6700.00,6451.55,2018-08-24T21:59:55.9340000Z,2018-08-24T00:00:01.4110000Z,53641,6618.699271,2018-08-24,2018-08-24 20:08:09.603210
967,6735.76,6690.88,6790.00,6690.88,2018-08-25T05:09:19.1840000Z,2018-08-25T00:00:02.4260000Z,13282,1818.709101,2018-08-25,2018-08-25 01:10:21.381506
968,6627.01,6737.52,6773.00,6593.00,2018-08-26T05:10:13.6530000Z,2018-08-26T00:00:01.7060000Z,13317,1658.174005,2018-08-26,2018-08-26 01:10:21.159709
969,6699.01,6709.98,6711.94,6654.13,2018-08-27T05:09:19.6080000Z,2018-08-27T00:00:03.4140000Z,10861,1041.360748,2018-08-27,2018-08-27 01:10:18.451575
970,6898.08,6911.90,6947.00,6864.96,2018-08-28T05:10:02.2050000Z,2018-08-28T00:00:00.4150000Z,13205,2383.819842,2018-08-28,2018-08-28 01:10:17.721235

In [5]:
config = {'asset_type': 'spot'}
model_btc_eth = env.MktEnv([])
comp_btc = envspot.MktEnvSpot('btc', df_btc.get_index_data(), config)
model_btc_eth.insert_section(comp_btc)



cash = 10000
assets = {'btc': 0}
ini_pfo = ledger.Ledger(assets, cash)


ls_rule = {'method' : 'moving_average', 'window_size' : [3, 5], 'tolerance_up' : 0.03, 'tolerance_down' : 0.03}

In [22]:
df_btc.data

,time_close,time_open,trades_count,price_low,price_open,price_close,key,volume_traded,price_high,last_updated
0,2017-12-18T23:59:59.1860000Z,2017-12-18T20:45:59.3960000Z,7229,18465.39,18493.04,18856.25,2017-12-18,704.460530,18900.00,2018-07-12 02:21:12.671337
1,2017-12-19T23:59:59.6890000Z,2017-12-19T00:00:00.0730000Z,116208,16300.00,18856.25,17295.20,2017-12-19,13167.116874,18950.00,2018-07-12 02:21:12.671337
2,2017-12-20T23:59:59.8780000Z,2017-12-20T00:00:00.3950000Z,125183,14800.00,17295.20,16488.98,2017-12-20,13008.779850,17720.35,2018-07-12 02:21:12.671337
3,2017-12-21T23:59:58.3940000Z,2017-12-21T00:00:00.1850000Z,115327,14100.00,16480.52,15492.64,2017-12-21,19897.862912,17309.50,2018-07-12 02:21:12.671337
4,2017-12-22T23:59:59.4950000Z,2017-12-22T00:00:03.9480000Z,224659,11111.51,15514.03,13326.61,2017-12-22,33064.896519,15699.34,2018-07-12 02:21:12.671337
5,2017-12-23T23:59:59.8580000Z,2017-12-23T00:00:00.2170000Z,131177,12978.18,13326.61,13300.00,2017-12-23,12808.525912,14950.00,2018-07-12 02:21:12.671337
6,2017-12-24T23:59:59.8400000Z,2017-12-24T00:00:01.3090000Z,164401,11798.80,13300.00,13500.00,2017-12-24,27079.449803,13819.99,2018-07-12 02:21:12.671337
7,2017-12-25T23:59:54.4220000Z,2017-12-25T00:00:00.4210000Z,115415,12708.00,13500.00,13699.34,2017-12-25,15607.598265,14300.00,2018-07-12 02:21:12.671337
8,2017-12-26T23:59:59.2620000Z,2017-12-26T00:00:00.9930000Z,131560,13533.00,13699.34,15689.01,2017-12-26,14845.640226,16050.00,2018-07-12 02:21:12.671337
9,2017-12-27T23:59:56.1500000Z,2017-12-27T00:00:04.5120000Z,142041,14200.15,15709.98,15459.99,2017-12-27,14936.933071,16498.05,2018-07-12 02:21:12.671337
10,2017-12-28T23:59:59.8680000Z,2017-12-28T00:00:01.9050000Z,177125,13150.00,15459.97,14182.11,2017-12-28,21608.988853,15539.99,2018-07-12 02:21:12.671337
11,2017-12-29T23:59:58.4540000Z,2017-12-29T00:00:00.0500000Z,142100,13850.00,14199.14,14378.90,2017-12-29,18072.008116,14981.00,2018-07-12 02:21:12.671337
12,2017-12-30T23:59:59.4670000Z,2017-12-30T00:00:04.3840000Z,190204,11750.00,14378.99,12440.01,2017-12-30,19221.158039,14398.85,2018-07-12 02:21:12.671337
13,2017-12-31T23:59:59.3420000Z,2017-12-31T00:00:00.2860000Z,138893,12149.98,12345.10,13716.36,2017-12-31,11768.989718,14050.11,2018-07-12 02:21:12.671337
14,2018-01-01T23:59:59.8400000Z,2018-01-01T00:00:07.0180000Z,105595,12750.00,13715.65,13380.00,2018-01-01,8609.915844,13818.55,2018-07-12 02:21:12.671337
15,2018-01-02T23:59:59.3100000Z,2018-01-02T00:00:00.6990000Z,177728,12890.02,13382.16,14675.11,2018-01-02,20078.092111,15473.49,2018-07-12 02:21:12.671337
16,2018-01-03T23:59:59.8000000Z,2018-01-03T00:00:01.1460000Z,162787,14150.00,14690.00,14919.51,2018-01-03,15905.667639,15307.56,2018-07-12 02:21:12.671337
17,2018-01-04T23:59:58.6060000Z,2018-01-04T00:00:01.1000000Z,167235,13918.04,14919.51,15059.54,2018-01-04,20920.528731,15280.00,2018-07-12 02:21:12.671337
18,2018-01-05T23:59:59.8210000Z,2018-01-05T00:00:01.2160000Z,167475,14601.00,15059.56,16960.39,2018-01-05,20001.957337,17176.24,2018-07-12 02:21:12.671337
19,2018-01-06T23:59:59.6090000Z,2018-01-06T00:00:00.2980000Z,136253,16011.21,16960.39,17069.79,2018-01-06,15861.050938,17143.13,2018-07-12 02:21:12.671337
20,2018-01-07T23:59:58.8740000Z,2018-01-07T00:00:00.7190000Z,105371,15610.00,17069.79,16150.03,2018-01-07,10994.210012,17099.96,2018-07-12 02:21:12.671337
21,2018-01-08T23:59:54.7030000Z,2018-01-08T00:00:01.2240000Z,142648,12813.00,16218.85,14901.00,2018-01-08,18324.742488,16322.30,2018-07-12 02:21:12.671337
22,2018-01-09T23:59:57.0960000Z,2018-01-09T00:00:00.8740000Z,98429,14095.00,14902.54,14400.00,2018-01-09,8745.984089,15500.00,2018-07-12 02:21:12.671337
23,2018-01-10T23:59:59.9250000Z,2018-01-10T00:00:00.0030000Z,95841,13150.00,14401.00,14907.09,2018-01-10,10111.859395,14955.66,2018-07-12 02:21:12.671337
24,2018-01-11T23:59:58.9740000Z,2018-01-11T00:00:00.2570000Z,182139,11501.00,14940.00,13238.78,2018-01-11,25208.032560,14968.68,2018-07-12 02:21:12.671337
25,2018-01-12T23:59:54.9360000Z,2018-01-12T00:00:01.5880000Z,118626,12500.00,13238.76,13740.01,2018-01-12,14528.034555,14109.78,2018-07-12 02:21:12.671337
26,2018-01-13T23:59:59.7500000Z,2018-01-13T00:00:00.6190000Z,110145,13706.17,13749.95,14210.00,2018-01-13,10860.946367,14580.00,2018-07-12 02:21:12.671337
27,2018-01-14T23:59:59.7870000Z,2018-01-14T00:00:01.0690000Z,140470,12569.20,14210.00,13474.99,2018-01-14,15620.969412,14339.50,2018-07-12 02:21:12.671337
28,2018-01-15T23:59:59.7830000Z,2018-01-15T00:00:01.0710000Z,144758,13147.79,13477.98,13539.93,2018-01-15,14603.135493,14249.99,2018-07-12 02:21:12.671337
29,2018-01-16T23:59:49.7400000Z,2018-01-16T00:00:00.1200000Z,414015,9035.00,13500.00,10901.03,2018-01-16,62740.816116,13542.93,2018-07-12 02:21:12.671337
...,...,...,...,...,...,...,...,...,...,...
199,2018-07-05T23:59:59.8620000Z,2018-07-05T00:00:00.4770000Z,216533,6453.33,6585.53,6529.20,2018-07-05,35071.972898,6712.00,2018-07-12 02:21:54.561099
200,2018-07-06T23:59:59.5010000Z,2018-07-06T00:00:00.1310000Z,193854,6425.00,6529.20,6609.78,2018-07-06,29397.094748,6648.54,2018-07-12 02:21:54.561099
201,2018-07-07T23:59:59.5570000Z,2018-07-07T00:00:01.3270000Z,145449,6508.88,6609.79,6756.98,2018-07-07,23973.876886,6818.16,2018-07-12 02:21:54.561099
202,2018-07-08T23:59:59.0870000Z,2018-07-08T00:00:00.1010000Z,145349,6667.44,6753.48,6712.10,2018-07-08,24622.947794,6780.00,2018-07-12 02:21:54.561099
203,2018-07-09T23:59:59.7810000Z,2018-07-09T00:00:00.3670000Z,147315,6612.24,6712.10,6662.12,2018-07-09,26732.406550,6802.06,2018-07-12 02:21:54.561099
204,2018-07-10T23:59:59.2000000Z,2018-07-10T00:00:00.2640000Z,189913,6263.00,6662.78,6296.91,2018-07-10,38560.672702,6681.00,2018-07-12 02:21:54.561099
205,2018-07-11T23:59:58.6100000Z,2018-07-11T00:00:00.0590000Z,151869,6278.99,6296.91,6378.07,2018-07-11,28715.498487,6406.00,2018-07-12 02:21:54.561099
206,2018-07-12T02:21:35.6250000Z,2018-07-12T00:00:01.0170000Z,10403,6301.01,6378.07,6331.99,2018-07-12,1811.680541,6380.28,2018-07-12 02:21:54.561099
207,2018-07-13T05:09:19.7440000Z,2018-07-13T00:00:00.1970000Z,30603,6216.02,6251.40,6242.56,2018-07-13,5906.750996,6350.00,2018-07-13 01:10:03.420515
208,2018-07-14T05:09:09.9040000Z,2018-07-14T00:00:00.1520000Z,18937,6191.78,6214.57,6215.53,2018-07-14,2612.687957,6280.00,2018-07-14 01:10:03.412784
209,2018-07-15T05:09:53.1180000Z,2018-07-15T00:00:02.4860000Z,20229,6225.40,6250.90,6273.08,2018-07-15,4056.127086,6284.40,2018-07-15 01:10:03.591384
210,2018-07-16T05:09:31.5690000Z,2018-07-16T00:00:00.8150000Z,24654,6330.40,6354.15,6349.31,2018-07-16,5112.593556,6383.85,2018-07-16 01:10:02.348502
211,2018-07-17T05:09:35.3440000Z,2018-07-17T00:00:01.0070000Z,33923,6685.30,6723.33,6700.00,2018-07-17,7230.207967,6754.99,2018-07-17 01:10:02.783310
212,2018-07-18T05:09:25.8810000Z,2018-07-18T00:00:00.7150000Z,68288,7309.64,7317.44,7420.97,2018-07-18,12513.436514,7550.00,2018-07-18 01:10:02.649721
213,2018-07-19T03:20:18.8060000Z,2018-07-19T00:00:00.5600000Z,30926,7270.00,7381.88,7349.98,2018-07-19,4622.293062,7381.90,2018-07-19 01:10:02.841844
214,2018-07-20T05:09:01.9040000Z,2018-07-20T00:00:00.2300000Z,42723,7367.00,7468.86,7458.52,2018-07-20,6809.552941,7479.82,2018-07-20 01:10:02.126656
215,2018-07-21T03:26:57.1790000Z,2018-07-21T00:00:02.4810000Z,32143,7211.00,7337.47,7267.78,2018-07-21,6067.170961,7338.19,2018-07-20 23:27:18.258109
216,2018-07-22T05:09:47.6550000Z,2018-07-22T00:00:01.0900000Z,27751,7339.00,7399.25,7387.24,2018-07-22,5999.643461,7487.49,2018-07-22 01:10:03.361973
217,2018-07-23T05:09:41.2110000Z,2018-07-23T00:00:00.1280000Z,39913,7375.00,7394.78,7656.29,2018-07-23,8530.933397,7710.00,2018-07-23 01:10:03.279484
218,2018-07-24T05:09:50.8880000Z,2018-07-24T00:00:00.2550000Z,56264,7696.00,7721.65,7911.41,2018-07-24,10151.516820,7931.89,2018-07-24 01:10:02.448520
219,2018-07-25T05:09:52.9830000Z,2018-07-25T00:00:00.1790000Z,65973,8293.00,8397.24,8425.01,2018-07-25,10909.948998,8491.77,2018-07-25 01:10:03.307650
220,2018-07-26T05:09:50.6050000Z,2018-07-26T00:00:00.4000000Z,37345,8169.26,8175.63,8231.10,2018-07-26,6520.718592,8264.73,2018-07-26 01:10:03.042747
221,2018-07-27T23:59:58.9330000Z,2018-07-27T00:00:00.1090000Z,227397,7805.00,7920.00,8188.57,2018-07-27,43671.005891,8285.00,2018-07-31 01:10:04.045740
222,2018-07-28T23:59:59.7960000Z,2018-07-28T07:13:02.2850000Z,103435,8067.00,8188.29,8225.04,2018-07-28,19186.352260,8246.54,2018-07-29 01:10:02.479858
223,2018-07-29T05:09:42.3320000Z,2018-07-29T00:00:00.1590000Z,35157,8180.00,8225.04,8199.60,2018-07-29,6626.829427,8294.51,2018-07-29 01:10:02.479858
224,2018-07-30T05:07:25.0700000Z,2018-07-30T00:00:01.1590000Z,41058,8070.00,8210.99,8189.04,2018-07-30,7528.470699,8273.00,2018-07-30 01:10:02.168683
225,2018-07-31T05:09:50.1760000Z,2018-07-31T00:00:00.4570000Z,28501,8088.14,8171.40,8116.72,2018-07-31,4889.511595,8180.00,2018-07-31 01:10:04.045740
226,2018-08-01T05:09:41.0860000Z,2018-08-01T00:00:00.0280000Z,54297,7500.00,7735.67,7539.72,2018-08-01,11171.769688,7750.00,2018-08-01 01:10:03.072523
227,2018-08-02T05:09:41.3700000Z,2018-08-02T00:00:00.5770000Z,35407,7597.50,7600.08,7630.99,2018-08-02,8714.621698,7709.46,2018-08-02 01:10:02.788727
228,2018-08-03T05:07:29.0870000Z,2018-08-03T00:00:00.6120000Z,37765,7282.44,7525.71,7350.00,2018-08-03,7209.891180,7528.91,2018-08-03 01:10:03.081924

In [16]:
strats = stg_tf.StrategyTensorFlow(model_btc_eth, ini_pfo, ls_rule, 'model.json', 'model.h5', 'scaler.pkl')

report = strats.back_testing(BACK_TEST_START_DATE)

OSError: Unable to open file (file signature not found)

In [6]:
strats_train = stg_tf.StrategyTensorFlow(model_btc_eth, ini_pfo, ls_rule)

In [ ]:
strats_train.train()

../cqt/strats/StrategyTensorFlow.py:151: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(4, kernel_initializer="lecun_uniform")`
  model.add(Dense(4, init='lecun_uniform'))
../cqt/strats/StrategyTensorFlow.py:243: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  model.fit(X_train, y_train, batch_size=batchSize, nb_epoch=1, verbose=0)

debug final 2410.67028295895
Epoch #: 0 Reward: 2410.670283 Epsilon: 1.000000
Saved model to disk
debug final 22882.203212432833
Epoch #: 1 Reward: 22882.203212 Epsilon: 0.900000
Saved model to disk
debug final 1458.6003548223619
Epoch #: 2 Reward: 1458.600355 Epsilon: 0.800000
Saved model to disk
debug final 528546.5574259362
Epoch #: 3 Reward: 528546.557426 Epsilon: 0.700000
Saved model to disk
debug final 597.246614968576
Epoch #: 4 Reward: 597.246615 Epsilon: 0.600000
Saved model to disk
debug final 8073.1915951520605
Epoch #: 5 Reward: 8073.191595 Epsilon: 0.500000
Saved model to disk
debug final 9591.742322970736
Epoch #: 6 Reward: 9591.742323 Epsilon: 0.400000
Saved model to disk