In [1]:
import sys
sys.path.append('../')

import cqt
import cqt.datagen as dg
import cqt.model.asset_model as md
import cqt.model.asset_model_component_spot as comp_spot
import pandas as pd
import numpy as np

from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
from matplotlib import pyplot

from statsmodels.tsa import arima_model as arma
from sklearn.metrics import mean_squared_error

from sqlalchemy import create_engine

D:\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
key="59103194-7503-441E-A849-1B961471734B"
source = 'coinapi'
request_btc_20170901 = {'request_type' : 'ohlcv', \
               'symbol_id' : 'GEMINI_SPOT_BTC_USD', \
               'period_id' : '1DAY', \
               'time_start' : '2017-01-01T00:00:00', \
               'time_end' : '2017-09-01T00:00:00', \
               'limit' : '100000'}

#lala=dg.get_req_str(source, request_btc)
#print(lala)
df_btc_20170901 = dg.data_gen(source, request_btc_20170901,key,write_to_file=False, returnDF=True)
df_btc_20170901

https://rest.coinapi.io/v1/ohlcv/GEMINI_SPOT_BTC_USD/history?period_id=1DAY&time_start=2017-01-01T00:00:00&time_end=2017-09-01T00:00:00&limit=100000

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,4591.38,4431.66,4705.07,4431.65,2017-08-29T23:59:59.2300000Z,2017-08-29T13:21:40.6990000Z,8315,6005.454508,2017-08-29
1,4583.85,4590.00,4641.43,4495.05,2017-08-30T23:59:10.1240000Z,2017-08-30T00:00:00.8210000Z,14313,8832.814987,2017-08-30
2,4736.28,4583.00,4762.76,4579.91,2017-08-31T23:59:57.7490000Z,2017-08-31T00:00:12.3180000Z,11407,7268.196353,2017-08-31

In [3]:
disk_engine = create_engine('postgresql://postgres:massless@localhost:5432/massless_timeseries')
conn = disk_engine.connect()

In [4]:
#from sqlalchemy import create_engine
#engine = create_engine('postgresql://user@localhost:5432/mydb')

df_btc_20170901.to_sql('coinapi_GEMINI_SPOT_BTC_USD_1Day', conn, if_exists='replace',index=False)
add_primary_key = 'alter table "coinapi_GEMINI_SPOT_BTC_USD_1Day" add primary key (key)'
conn.execute(add_primary_key)

In [5]:
key="59103194-7503-441E-A849-1B961471734B"
source = 'coinapi'
request_btc = {'request_type' : 'ohlcv', \
               'symbol_id' : 'GEMINI_SPOT_BTC_USD', \
               'period_id' : '1DAY', \
               'time_start' : '2017-01-01T00:00:00', \
               'limit' : '100000'}

#lala=dg.get_req_str(source, request_btc)
#print(lala)
df_btc = dg.data_gen(source, request_btc,key,write_to_file=True,returnDF=True)
df_btc

https://rest.coinapi.io/v1/ohlcv/GEMINI_SPOT_BTC_USD/history?period_id=1DAY&time_start=2017-01-01T00:00:00&limit=100000

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,4591.38,4431.66,4705.07,4431.65,2017-08-29T23:59:59.2300000Z,2017-08-29T13:21:40.6990000Z,8315,6005.454508,2017-08-29
1,4583.85,4590.00,4641.43,4495.05,2017-08-30T23:59:10.1240000Z,2017-08-30T00:00:00.8210000Z,14313,8832.814987,2017-08-30
2,4736.28,4583.00,4762.76,4579.91,2017-08-31T23:59:57.7490000Z,2017-08-31T00:00:12.3180000Z,11407,7268.196353,2017-08-31
3,4924.00,4736.28,4924.00,4709.28,2017-09-01T23:59:37.9730000Z,2017-09-01T00:00:11.4080000Z,11470,8188.879244,2017-09-01
4,4642.85,4924.00,4985.00,4505.00,2017-09-02T23:59:51.6230000Z,2017-09-02T00:00:17.9900000Z,20976,13402.051241,2017-09-02
5,4607.47,4643.63,4740.41,4460.05,2017-09-03T23:57:28.9910000Z,2017-09-03T00:00:00.0920000Z,12831,9479.341778,2017-09-03
6,4278.86,4609.95,4614.36,4100.00,2017-09-04T23:59:41.3290000Z,2017-09-04T00:00:09.6480000Z,19466,13598.716369,2017-09-04
7,4393.00,4278.86,4494.60,4012.02,2017-09-05T23:59:59.5160000Z,2017-09-05T00:00:02.2920000Z,20973,13723.843734,2017-09-05
8,4609.17,4393.00,4645.00,4380.78,2017-09-06T23:59:36.3190000Z,2017-09-06T00:00:00.0920000Z,15903,9784.306910,2017-09-06
9,4623.19,4609.18,4665.23,4484.68,2017-09-07T23:59:58.1900000Z,2017-09-07T00:00:02.7120000Z,11474,5869.662031,2017-09-07
10,4346.24,4623.19,4669.98,4090.30,2017-09-08T23:59:57.9150000Z,2017-09-08T00:00:02.9210000Z,20853,12988.928955,2017-09-08
11,4325.17,4346.15,4405.00,4182.16,2017-09-09T23:59:49.3540000Z,2017-09-09T00:00:00.4780000Z,14144,5876.095889,2017-09-09
12,4243.48,4325.17,4329.97,4083.55,2017-09-10T23:59:47.6110000Z,2017-09-10T00:00:02.4130000Z,13369,7037.021621,2017-09-10
13,4209.69,4243.48,4370.28,4110.48,2017-09-11T23:59:47.4720000Z,2017-09-11T00:00:02.1410000Z,12765,9567.659962,2017-09-11
14,4155.55,4213.25,4372.05,4070.01,2017-09-12T23:59:57.7750000Z,2017-09-12T00:00:02.3500000Z,13132,7471.425999,2017-09-12
15,3855.01,4155.56,4173.78,3743.75,2017-09-13T23:59:59.2410000Z,2017-09-13T00:00:02.2950000Z,21999,16066.943486,2017-09-13
16,3242.63,3855.01,3920.20,3219.89,2017-09-14T23:59:46.1370000Z,2017-09-14T00:00:02.6030000Z,30919,24132.819880,2017-09-14
17,3709.85,3241.32,3839.19,2955.01,2017-09-15T23:39:13.3220000Z,2017-09-15T00:00:02.6120000Z,40267,35245.519911,2017-09-15
18,3715.38,3709.86,3854.70,3580.01,2017-09-16T23:59:48.8130000Z,2017-09-16T07:14:15.8550000Z,7930,5582.543852,2017-09-16
19,3716.46,3715.18,3825.54,3505.94,2017-09-17T23:59:52.1920000Z,2017-09-17T00:00:02.3750000Z,6933,3844.543702,2017-09-17
20,4098.03,3716.46,4115.93,3716.45,2017-09-18T23:59:53.2890000Z,2017-09-18T00:00:02.0740000Z,17956,9079.128780,2017-09-18
21,3903.40,4098.94,4117.03,3850.00,2017-09-19T23:59:58.3060000Z,2017-09-19T00:00:02.7670000Z,16365,8446.704539,2017-09-19
22,3866.00,3903.40,4034.99,3828.93,2017-09-20T23:59:56.0490000Z,2017-09-20T00:00:02.6360000Z,11205,5998.980005,2017-09-20
23,3616.74,3866.00,3899.86,3573.00,2017-09-21T23:57:51.2090000Z,2017-09-21T00:00:00.5380000Z,17530,9532.488950,2017-09-21
24,3620.96,3616.74,3758.12,3510.84,2017-09-22T23:49:49.7790000Z,2017-09-22T00:00:02.6020000Z,10070,5383.180465,2017-09-22
25,3783.60,3620.95,3812.86,3562.80,2017-09-23T23:59:38.8950000Z,2017-09-23T01:13:33.3240000Z,7458,3001.784251,2017-09-23
26,3667.99,3783.61,3783.61,3619.76,2017-09-24T23:57:25.9760000Z,2017-09-24T00:00:02.1880000Z,5205,1946.687962,2017-09-24
27,3916.48,3668.00,3956.86,3665.98,2017-09-25T23:59:48.3850000Z,2017-09-25T00:00:02.1300000Z,8882,6097.128278,2017-09-25
28,3885.14,3916.48,3958.06,3852.61,2017-09-26T23:59:49.1390000Z,2017-09-26T00:00:03.0250000Z,6346,4510.603090,2017-09-26
29,4204.51,3885.15,4225.00,3876.01,2017-09-27T23:59:11.0650000Z,2017-09-27T00:00:02.1810000Z,11081,8435.340922,2017-09-27
...,...,...,...,...,...,...,...,...,...
247,9727.50,9221.93,9786.01,9163.25,2018-05-03T23:59:46.9870000Z,2018-05-03T00:00:47.1100000Z,6065,4870.591612,2018-05-03
248,9691.37,9729.98,9780.00,9508.00,2018-05-04T23:59:56.8930000Z,2018-05-04T00:00:28.6140000Z,12624,3898.106804,2018-05-04
249,9812.81,9686.22,9940.00,9668.67,2018-05-05T23:58:39.7390000Z,2018-05-05T00:00:44.7810000Z,7506,2064.199982,2018-05-05
250,9599.88,9811.71,9890.00,9399.00,2018-05-06T23:59:32.8800000Z,2018-05-06T00:00:53.0970000Z,6954,1603.729586,2018-05-06
251,9361.96,9599.87,9618.16,9175.00,2018-05-07T23:59:28.9370000Z,2018-05-07T00:00:01.8680000Z,8586,3293.202569,2018-05-07
252,9181.42,9355.37,9450.00,9050.00,2018-05-08T23:59:02.7080000Z,2018-05-08T00:00:45.5230000Z,5515,2508.466475,2018-05-08
253,9308.45,9181.43,9359.25,8953.26,2018-05-09T23:59:57.2980000Z,2018-05-09T00:00:17.6330000Z,8257,3489.860640,2018-05-09
254,9017.58,9308.21,9387.98,9006.00,2018-05-10T23:58:58.6910000Z,2018-05-10T00:00:24.7680000Z,7001,2979.661195,2018-05-10
255,8398.44,9017.58,9022.05,8350.18,2018-05-11T23:59:40.3020000Z,2018-05-11T00:00:07.4060000Z,19485,5169.243886,2018-05-11
256,8466.31,8424.97,8647.84,8221.00,2018-05-12T23:59:31.7360000Z,2018-05-12T00:00:16.7760000Z,6694,2954.129565,2018-05-12
257,8685.50,8484.63,8755.00,8340.10,2018-05-13T23:58:23.9880000Z,2018-05-13T00:01:49.0390000Z,2997,1369.240885,2018-05-13
258,8682.73,8693.00,8899.62,8283.55,2018-05-14T23:59:48.8510000Z,2018-05-14T00:00:05.9540000Z,8010,4787.209362,2018-05-14
259,8475.58,8678.51,8846.13,8418.65,2018-05-15T23:59:46.1530000Z,2018-05-15T00:00:18.8330000Z,7744,5283.742996,2018-05-15
260,8344.94,8475.00,8501.53,8110.00,2018-05-16T23:59:12.1020000Z,2018-05-16T00:01:03.9140000Z,13591,7281.927090,2018-05-16
261,8060.01,8353.48,8487.15,7999.00,2018-05-17T23:59:11.9490000Z,2018-05-17T00:01:57.1130000Z,12729,4066.709253,2018-05-17
262,8230.00,8060.00,8279.00,7919.20,2018-05-18T23:17:17.3500000Z,2018-05-18T00:00:25.3160000Z,14072,3874.516521,2018-05-18
263,8240.01,8230.00,8392.00,8152.49,2018-05-19T23:59:51.0850000Z,2018-05-19T02:46:59.0060000Z,4630,1379.603350,2018-05-19
264,8515.17,8240.00,8600.00,8168.01,2018-05-20T23:59:03.3300000Z,2018-05-20T00:00:05.4090000Z,2704,1039.990453,2018-05-20
265,8395.71,8520.00,8588.00,8315.49,2018-05-21T23:59:42.0000000Z,2018-05-21T00:00:00.3600000Z,3645,2113.716430,2018-05-21
266,7985.77,8397.32,8402.79,7955.01,2018-05-22T23:59:42.6090000Z,2018-05-22T00:01:28.9290000Z,10714,3163.292342,2018-05-22
267,7497.47,7985.76,8026.37,7438.43,2018-05-23T23:59:43.4400000Z,2018-05-23T00:00:03.8620000Z,25533,5769.816889,2018-05-23
268,7572.49,7499.92,7746.18,7268.99,2018-05-24T23:59:18.5810000Z,2018-05-24T00:00:12.8450000Z,25555,5253.799866,2018-05-24
269,7462.65,7575.37,7659.97,7322.29,2018-05-25T23:58:47.1450000Z,2018-05-25T00:00:18.5750000Z,10275,4674.052355,2018-05-25
270,7333.20,7472.22,7647.46,7300.01,2018-05-26T23:58:58.1330000Z,2018-05-26T00:00:27.5510000Z,3421,1792.970611,2018-05-26
271,7349.12,7333.20,7400.00,7208.10,2018-05-27T23:58:44.1240000Z,2018-05-27T00:00:00.9160000Z,3403,1008.853077,2018-05-27
272,7098.11,7349.12,7445.89,7076.60,2018-05-28T23:59:36.3180000Z,2018-05-28T00:00:05.4190000Z,9292,2467.673974,2018-05-28
273,7460.00,7102.78,7531.21,7055.94,2018-05-29T23:59:47.7080000Z,2018-05-29T00:00:03.6720000Z,13181,3469.935225,2018-05-29
274,7387.88,7460.00,7567.72,7268.76,2018-05-30T23:59:34.1030000Z,2018-05-30T00:00:49.4720000Z,4437,2425.845420,2018-05-30
275,7484.84,7376.95,7616.63,7340.00,2018-05-31T23:59:40.2520000Z,2018-05-31T00:00:59.0650000Z,3865,2604.391997,2018-05-31
276,7505.00,7487.01,7529.11,7484.95,2018-06-01T02:51:34.1080000Z,2018-06-01T00:01:26.8120000Z,349,226.758234,2018-06-01

In [6]:
df_btc.to_sql('temp_coinapi_GEMINI_SPOT_BTC_USD_1Day', conn, if_exists='replace',index=False)
add_primary_key = 'alter table "temp_coinapi_GEMINI_SPOT_BTC_USD_1Day" add primary key (key)'
conn.execute(add_primary_key)

In [7]:
query_str = 'select * from "coinapi_GEMINI_SPOT_BTC_USD_1Day"'
#cur = conn.cursor()
test1=pd.read_sql(query_str,conn)
test1

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,4591.38,4431.66,4705.07,4431.65,2017-08-29T23:59:59.2300000Z,2017-08-29T13:21:40.6990000Z,8315,6005.454508,2017-08-29
1,4583.85,4590.00,4641.43,4495.05,2017-08-30T23:59:10.1240000Z,2017-08-30T00:00:00.8210000Z,14313,8832.814987,2017-08-30
2,4736.28,4583.00,4762.76,4579.91,2017-08-31T23:59:57.7490000Z,2017-08-31T00:00:12.3180000Z,11407,7268.196353,2017-08-31

In [9]:
#"{:%Y-%m-%dT%H:%M:%S}".format(datetime.now())

final_table = '"coinapi_GEMINI_SPOT_BTC_USD_1Day"'
tmp_table = '"temp_coinapi_GEMINI_SPOT_BTC_USD_1Day"'
update_table_str = 'insert into %s (select * from %s) on conflict (key) do nothing'% (final_table,tmp_table)
conn.execute(update_table_str)

In [13]:
drop_tmp_table = 'DROP TABLE IF EXISTS %s'%tmp_table
conn.execute(drop_tmp_table)

In [10]:
#from pandas.io import sql
#table='"temp_coinapi_GEMINI_SPOT_BTC_USD_1Day"'
#sql.execute('DROP TABLE IF EXISTS %s'%table, conn)
query_str = 'select * from "coinapi_GEMINI_SPOT_BTC_USD_1Day"'
#cur = conn.cursor()
test1=pd.read_sql(query_str,conn)
test1

,price_close,price_open,price_high,price_low,time_close,time_open,trades_count,volume_traded,key
0,4591.38,4431.66,4705.07,4431.65,2017-08-29T23:59:59.2300000Z,2017-08-29T13:21:40.6990000Z,8315,6005.454508,2017-08-29
1,4583.85,4590.00,4641.43,4495.05,2017-08-30T23:59:10.1240000Z,2017-08-30T00:00:00.8210000Z,14313,8832.814987,2017-08-30
2,4736.28,4583.00,4762.76,4579.91,2017-08-31T23:59:57.7490000Z,2017-08-31T00:00:12.3180000Z,11407,7268.196353,2017-08-31
3,4924.00,4736.28,4924.00,4709.28,2017-09-01T23:59:37.9730000Z,2017-09-01T00:00:11.4080000Z,11470,8188.879244,2017-09-01
4,4642.85,4924.00,4985.00,4505.00,2017-09-02T23:59:51.6230000Z,2017-09-02T00:00:17.9900000Z,20976,13402.051241,2017-09-02
5,4607.47,4643.63,4740.41,4460.05,2017-09-03T23:57:28.9910000Z,2017-09-03T00:00:00.0920000Z,12831,9479.341778,2017-09-03
6,4278.86,4609.95,4614.36,4100.00,2017-09-04T23:59:41.3290000Z,2017-09-04T00:00:09.6480000Z,19466,13598.716369,2017-09-04
7,4393.00,4278.86,4494.60,4012.02,2017-09-05T23:59:59.5160000Z,2017-09-05T00:00:02.2920000Z,20973,13723.843734,2017-09-05
8,4609.17,4393.00,4645.00,4380.78,2017-09-06T23:59:36.3190000Z,2017-09-06T00:00:00.0920000Z,15903,9784.306910,2017-09-06
9,4623.19,4609.18,4665.23,4484.68,2017-09-07T23:59:58.1900000Z,2017-09-07T00:00:02.7120000Z,11474,5869.662031,2017-09-07
10,4346.24,4623.19,4669.98,4090.30,2017-09-08T23:59:57.9150000Z,2017-09-08T00:00:02.9210000Z,20853,12988.928955,2017-09-08
11,4325.17,4346.15,4405.00,4182.16,2017-09-09T23:59:49.3540000Z,2017-09-09T00:00:00.4780000Z,14144,5876.095889,2017-09-09
12,4243.48,4325.17,4329.97,4083.55,2017-09-10T23:59:47.6110000Z,2017-09-10T00:00:02.4130000Z,13369,7037.021621,2017-09-10
13,4209.69,4243.48,4370.28,4110.48,2017-09-11T23:59:47.4720000Z,2017-09-11T00:00:02.1410000Z,12765,9567.659962,2017-09-11
14,4155.55,4213.25,4372.05,4070.01,2017-09-12T23:59:57.7750000Z,2017-09-12T00:00:02.3500000Z,13132,7471.425999,2017-09-12
15,3855.01,4155.56,4173.78,3743.75,2017-09-13T23:59:59.2410000Z,2017-09-13T00:00:02.2950000Z,21999,16066.943486,2017-09-13
16,3242.63,3855.01,3920.20,3219.89,2017-09-14T23:59:46.1370000Z,2017-09-14T00:00:02.6030000Z,30919,24132.819880,2017-09-14
17,3709.85,3241.32,3839.19,2955.01,2017-09-15T23:39:13.3220000Z,2017-09-15T00:00:02.6120000Z,40267,35245.519911,2017-09-15
18,3715.38,3709.86,3854.70,3580.01,2017-09-16T23:59:48.8130000Z,2017-09-16T07:14:15.8550000Z,7930,5582.543852,2017-09-16
19,3716.46,3715.18,3825.54,3505.94,2017-09-17T23:59:52.1920000Z,2017-09-17T00:00:02.3750000Z,6933,3844.543702,2017-09-17
20,4098.03,3716.46,4115.93,3716.45,2017-09-18T23:59:53.2890000Z,2017-09-18T00:00:02.0740000Z,17956,9079.128780,2017-09-18
21,3903.40,4098.94,4117.03,3850.00,2017-09-19T23:59:58.3060000Z,2017-09-19T00:00:02.7670000Z,16365,8446.704539,2017-09-19
22,3866.00,3903.40,4034.99,3828.93,2017-09-20T23:59:56.0490000Z,2017-09-20T00:00:02.6360000Z,11205,5998.980005,2017-09-20
23,3616.74,3866.00,3899.86,3573.00,2017-09-21T23:57:51.2090000Z,2017-09-21T00:00:00.5380000Z,17530,9532.488950,2017-09-21
24,3620.96,3616.74,3758.12,3510.84,2017-09-22T23:49:49.7790000Z,2017-09-22T00:00:02.6020000Z,10070,5383.180465,2017-09-22
25,3783.60,3620.95,3812.86,3562.80,2017-09-23T23:59:38.8950000Z,2017-09-23T01:13:33.3240000Z,7458,3001.784251,2017-09-23
26,3667.99,3783.61,3783.61,3619.76,2017-09-24T23:57:25.9760000Z,2017-09-24T00:00:02.1880000Z,5205,1946.687962,2017-09-24
27,3916.48,3668.00,3956.86,3665.98,2017-09-25T23:59:48.3850000Z,2017-09-25T00:00:02.1300000Z,8882,6097.128278,2017-09-25
28,3885.14,3916.48,3958.06,3852.61,2017-09-26T23:59:49.1390000Z,2017-09-26T00:00:03.0250000Z,6346,4510.603090,2017-09-26
29,4204.51,3885.15,4225.00,3876.01,2017-09-27T23:59:11.0650000Z,2017-09-27T00:00:02.1810000Z,11081,8435.340922,2017-09-27
...,...,...,...,...,...,...,...,...,...
247,9727.50,9221.93,9786.01,9163.25,2018-05-03T23:59:46.9870000Z,2018-05-03T00:00:47.1100000Z,6065,4870.591612,2018-05-03
248,9691.37,9729.98,9780.00,9508.00,2018-05-04T23:59:56.8930000Z,2018-05-04T00:00:28.6140000Z,12624,3898.106804,2018-05-04
249,9812.81,9686.22,9940.00,9668.67,2018-05-05T23:58:39.7390000Z,2018-05-05T00:00:44.7810000Z,7506,2064.199982,2018-05-05
250,9599.88,9811.71,9890.00,9399.00,2018-05-06T23:59:32.8800000Z,2018-05-06T00:00:53.0970000Z,6954,1603.729586,2018-05-06
251,9361.96,9599.87,9618.16,9175.00,2018-05-07T23:59:28.9370000Z,2018-05-07T00:00:01.8680000Z,8586,3293.202569,2018-05-07
252,9181.42,9355.37,9450.00,9050.00,2018-05-08T23:59:02.7080000Z,2018-05-08T00:00:45.5230000Z,5515,2508.466475,2018-05-08
253,9308.45,9181.43,9359.25,8953.26,2018-05-09T23:59:57.2980000Z,2018-05-09T00:00:17.6330000Z,8257,3489.860640,2018-05-09
254,9017.58,9308.21,9387.98,9006.00,2018-05-10T23:58:58.6910000Z,2018-05-10T00:00:24.7680000Z,7001,2979.661195,2018-05-10
255,8398.44,9017.58,9022.05,8350.18,2018-05-11T23:59:40.3020000Z,2018-05-11T00:00:07.4060000Z,19485,5169.243886,2018-05-11
256,8466.31,8424.97,8647.84,8221.00,2018-05-12T23:59:31.7360000Z,2018-05-12T00:00:16.7760000Z,6694,2954.129565,2018-05-12
257,8685.50,8484.63,8755.00,8340.10,2018-05-13T23:58:23.9880000Z,2018-05-13T00:01:49.0390000Z,2997,1369.240885,2018-05-13
258,8682.73,8693.00,8899.62,8283.55,2018-05-14T23:59:48.8510000Z,2018-05-14T00:00:05.9540000Z,8010,4787.209362,2018-05-14
259,8475.58,8678.51,8846.13,8418.65,2018-05-15T23:59:46.1530000Z,2018-05-15T00:00:18.8330000Z,7744,5283.742996,2018-05-15
260,8344.94,8475.00,8501.53,8110.00,2018-05-16T23:59:12.1020000Z,2018-05-16T00:01:03.9140000Z,13591,7281.927090,2018-05-16
261,8060.01,8353.48,8487.15,7999.00,2018-05-17T23:59:11.9490000Z,2018-05-17T00:01:57.1130000Z,12729,4066.709253,2018-05-17
262,8230.00,8060.00,8279.00,7919.20,2018-05-18T23:17:17.3500000Z,2018-05-18T00:00:25.3160000Z,14072,3874.516521,2018-05-18
263,8240.01,8230.00,8392.00,8152.49,2018-05-19T23:59:51.0850000Z,2018-05-19T02:46:59.0060000Z,4630,1379.603350,2018-05-19
264,8515.17,8240.00,8600.00,8168.01,2018-05-20T23:59:03.3300000Z,2018-05-20T00:00:05.4090000Z,2704,1039.990453,2018-05-20
265,8395.71,8520.00,8588.00,8315.49,2018-05-21T23:59:42.0000000Z,2018-05-21T00:00:00.3600000Z,3645,2113.716430,2018-05-21
266,7985.77,8397.32,8402.79,7955.01,2018-05-22T23:59:42.6090000Z,2018-05-22T00:01:28.9290000Z,10714,3163.292342,2018-05-22
267,7497.47,7985.76,8026.37,7438.43,2018-05-23T23:59:43.4400000Z,2018-05-23T00:00:03.8620000Z,25533,5769.816889,2018-05-23
268,7572.49,7499.92,7746.18,7268.99,2018-05-24T23:59:18.5810000Z,2018-05-24T00:00:12.8450000Z,25555,5253.799866,2018-05-24
269,7462.65,7575.37,7659.97,7322.29,2018-05-25T23:58:47.1450000Z,2018-05-25T00:00:18.5750000Z,10275,4674.052355,2018-05-25
270,7333.20,7472.22,7647.46,7300.01,2018-05-26T23:58:58.1330000Z,2018-05-26T00:00:27.5510000Z,3421,1792.970611,2018-05-26
271,7349.12,7333.20,7400.00,7208.10,2018-05-27T23:58:44.1240000Z,2018-05-27T00:00:00.9160000Z,3403,1008.853077,2018-05-27
272,7098.11,7349.12,7445.89,7076.60,2018-05-28T23:59:36.3180000Z,2018-05-28T00:00:05.4190000Z,9292,2467.673974,2018-05-28
273,7460.00,7102.78,7531.21,7055.94,2018-05-29T23:59:47.7080000Z,2018-05-29T00:00:03.6720000Z,13181,3469.935225,2018-05-29
274,7387.88,7460.00,7567.72,7268.76,2018-05-30T23:59:34.1030000Z,2018-05-30T00:00:49.4720000Z,4437,2425.845420,2018-05-30
275,7484.84,7376.95,7616.63,7340.00,2018-05-31T23:59:40.2520000Z,2018-05-31T00:00:59.0650000Z,3865,2604.391997,2018-05-31
276,7505.00,7487.01,7529.11,7484.95,2018-06-01T02:51:34.1080000Z,2018-06-01T00:01:26.8120000Z,349,226.758234,2018-06-01

In [14]:
conn.close()